﻿@model IEnumerable<Mgl.DataValidator.Models.DataFieldDataCleansing>

<div class="table-responsive">

    <table class="table table-sm table-striped table-hover table-condensed table-bordered tblDCActions">
        <tr>
            <th style="display: none;"></th>
            <th>
                DC Action
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewText)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProcessInfoId)
            </th>*@
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none;">
                    @item.Id
                </td>
                <td>
                    @item.Action.GetDisplayName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewText)
                </td>
                @*<td>
                    @if (item.ProcessInfoId != null)
                    {
                      @item.ProcessInfo.GetDisplayName()
                    }                     
                </td>*@
                <td>
                    @Html.ActionLink("Delete", null, new { id = item.Id },
                 new { onclick = "return DeleteAction(" + item.Id + ")", @class="badge badge-pill badge-info" })

                </td>
            </tr>
        }

    </table>
</div>


