﻿@*@model IEnumerable<Mgl.DataValidator.Models.DataFieldDataCleansing>*@
@model Mgl.DataValidator.ViewModel.DataFieldViewModel
<div class="card">
    <div class="card-header card-title">
        <h4>Data Cleansing Actions</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('dcactions');">Add New</a>
                    <a href="#" class="card-link btn badge-info btnSaveSortedDCA">Save Sorted DCA</a>
                </div>
            </div>
        </div>

        <div class="card-text" id="pnlActionList">
            @Html.Partial("_ActionList", Model.DataField.DataFieldDataCleansings)
        </div>

        <div class="card bg-light dcactions" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning errMsg" id="actionMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Action Type", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("DCId", EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumDCAction)), "Select an action...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 replaceTextDiv" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Old Text", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("OldText", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("New Text", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("NewText", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 paddingDiv" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Padding Length", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("PaddingLength", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Padding Char", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("PaddingChar", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 stringToDateDiv" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Input Date Format", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("InputDateFormat", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 regexRemoveTexts" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Regex Pattern", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("RegularExpressionId", Model.RegExs.Select(x=> new SelectListItem() {Text = x.Description, Value = x.Id.ToString()}), "Select a regex...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row mb-3 processingInfo" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    @Html.Label("Processing Info", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                    <div class="col-md-auto">
                                        @Html.DropDownList("ProcessingInfo", EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumDCInfoType)), "Select a type of info...", new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info" onclick="return AddAction();">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script language="javascript" type="text/javascript">
    var dataFieldId = $('#DataField_Id').val();

    $(function () {
        $('.btnSaveSortedDCA').click(function () {
            var dcactions = [];
            $('.tblDCActions tr td:nth-child(1)').each(function () {
                dcactions.push($(this).html());
            });
            var urlStr = '@Url.Action("SortDCActions", "DataField", null, Request.Url.Scheme)';
            if (dcactions.length == 0) {
                if ($('.dcactions').is(":hidden")) uiscript.toggle('dcactions');
                uiscript.displayMessage('actionMsg', 'No item in the DCA list.', true);
            }
            else {
                $.ajax({
                    url: urlStr,
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        id: dataFieldId,
                        DCAIdList: dcactions.toString()
                    },
                    success: function (data) {
                        $('#pnlActionList').html(data);
                        uiscript.sortTable('tblDCActions');
                        if ($('.dcactions').is(":hidden")) uiscript.toggle('dcactions');
                        uiscript.displayMessage('actionMsg', 'The current order of DCAs has been saved successfully.', false);
                    },
                    error: function (xhr, status, errorThrown) {
                        if (xhr.status == 409) {
                            uiscript.displayMessage('actionMsg', 'Refresh and try again...', true);
                        }
                        else if (xhr.status == 400)
                            uiscript.displayMessage('actionMsg', 'Refresh and try again...', true);
                        else if (xhr.status == 500)
                            uiscript.displayMessage('actionMsg', 'Refresh and try again...', true);
                        else {
                            uiscript.displayMessage('actionMsg', xhr.status + ' - ' + xhr.responseText, true);
                        }
                    }
                });
            }
        });
    });


    $(document).ready(function () {
        uiscript.sortTable('tblDCActions');
    });

    $('#DCId').change(function () {
        $('.replaceTextDiv').hide();
        $('.processingInfo').hide();
        $('.paddingDiv').hide();
        $('.stringToDateDiv').hide();
        $('.regexRemoveTexts').hide();

        

        switch ($('#DCId').val()) {
            case "3":
                $('.replaceTextDiv').show();
                break
            case "4":
            case "5":
                $('.paddingDiv').show();
                break;
            case "6":
                $('.stringToDateDiv').show();
                break;
            case "11":
                $('.regexRemoveTexts').show();
                break;
        }
    });

    function AddAction() {

        var dcId = $('#DCId').val();
        var oldText = $('#OldText').val();
        var newText = $('#NewText').val();
        var procesInfo = $('#ProcessingInfo').val();
        var paddingLength = $('#PaddingLength').val();
        var paddingChar = $('#PaddingChar').val();
        var inputDateFormat = $('#InputDateFormat').val();
        var regexId = $('#RegularExpressionId').val();

        if (dcId == null || dcId == '') {
            return uiscript.displayMessage('actionMsg', 'Action Type is required.', true);

        }

        if (dcId == '3' && (oldText == null || oldText == '')) {
            return uiscript.displayMessage('actionMsg', 'Old Text is required for Replace Text.', true);
        }

        if ((dcId == '4' || dcId == '5') && ((paddingLength == null || paddingLength == '') || (paddingChar == null || paddingChar == ''))) {
            return uiscript.displayMessage('actionMsg', 'Padding Length and Padding Char are required', true);
        }

        if (dcId == '6' && (inputDateFormat == null || inputDateFormat == '')) {
            return uiscript.displayMessage('actionMsg', 'Input Date Format is required.', true);
        }
        if (dcId == '11' && (regexId == null || regexId == '')) {
            return uiscript.displayMessage('actionMsg', 'Regular Expression Id is required.', true);
        }


        $.ajax({
            //base address/controller/Action
            url: '@Url.Action("DCActionUpdate", "DataField", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                //Passing Input parameter
                {
                    DataFieldId: dataFieldId,
                    DCId: dcId,
                    OldText: oldText,
                    NewText: newText,
                    ProcessInfo: procesInfo,
                    PaddingLength: paddingLength,
                    PaddingChar: paddingChar,
                    InputDateFormat: inputDateFormat,
                    RegularExpressionId: regexId
                },
            success: function (data) {
                $('#pnlActionList').html(data);
                uiscript.sortTable('tblDCActions');
                uiscript.displayMessage('actionMsg', 'Action added successfully.', false);
            },
            error: function (xhr, status, errorThrown) {
                DisplayErrMsg('actionMsg', xhr.status + ' - ' +
                    xhr.responseText);
                uiscript.sortTable('tblDCActions');
            }
        });


        return false;
    }

    function DeleteAction(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DCActionDelete", "DataField", null, Request.Url.Scheme)',
            'pnlActionList', 'actionMsg', 'dcactions', 'tblDCActions', 'Action deleted successfully.');

        return false;
    }

</script>



