﻿@model Mgl.DataValidator.ViewModel.DataFieldViewModel

<div class="card">
    <div class="card-header card-title">
        <h4>Validation Rules</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info btnAddValidation" onclick="return uiscript.toggle('validationrules');">Add New</a>
                </div>
            </div>           
        </div>

        <div class="card bg-light mb-3 validationrules" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning Msg" id="vrMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Validation Rule", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("VRId", EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumValidationRule)), "Select a VR...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="divSP" style="opacity:1; display:none;">
                            <div class="form-inline">
                                @Html.Label("Stored Procedure", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">

                                    @Html.DropDownList("StoredProcedureId", Model.SPs.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.SPName }), "Select a SP...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6" id="divMaxField" style="opacity:1; display:none;">
                            <div class="form-inline">
                                @Html.Label("Max Field Length", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("MaxFieldLength", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="divMinField" style="opacity:1; display:none;">
                            <div class="form-inline">
                                @Html.Label("Min Field Length", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("MinFieldLength", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6" id="divRegEx" style="opacity:1; display:none;">
                            <div class="form-inline">
                                @Html.Label("Reg Ex", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @*@Html.DropDownList("RegularExpressionId", Model.RegExs.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Description + " (" + x.RegExText + ")" }), "Select a Reg Ex...", new { @class = "form-control form-control-sm" })*@
                                    @Html.DropDownList("RegularExpressionId", Model.RegExs.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Description }), "Select a Reg Ex...", new { @class = "form-control form-control-sm regex" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="divRefList" style="opacity:1; display:none;">
                            <div class="form-inline">
                                @Html.Label("Ref. List", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("ReferenceListId", Model.RefLists.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }), "Select a Ref List...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Terminate If Invalid", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.CheckBox("TerminateIfInvalid", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Error Message", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("ErrorMessage", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info btnAddVR" onclick="return AddVR();">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="card-text" id="pnlVRList">
            @Html.Partial("_VRList", Model.DataField.DataFieldRules)
        </div>


    </div>

</div>


<script language="javascript" type="text/javascript">

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    $('.btnAddValidation').click(function () {        
        
        $('.validationrules').scrollView().focus();
    });    

    $('.btnAddVR').click(function () {

        $('#pnlVRList').scrollView().focus();
    });

    function clearVRComponents() {
        $('#StoredProcedureId').val('');
        $('.regex').val('');
        $('#MaxFieldLength').val('');
        $('#MinFieldLength').val('');
        $('#ReferenceListId').val('');
        $('#ErrorMessage').val('');
    }

    $(function () {

        var vrdropdown = $('#VRId');
        var spDiv = $('#divSP');
        var maxfieldDiv = $('#divMaxField');
        var minfieldDiv = $('#divMinField');
        var regexDiv = $('#divRegEx');
        var reflistDiv = $('#divRefList');

        vrdropdown.change(function () {

            var dropdownVRID = vrdropdown.val();

            maxfieldDiv.hide();
            minfieldDiv.hide();
            spDiv.hide();
            regexDiv.hide();
            reflistDiv.hide();


            switch (dropdownVRID) {
                case '1':
                    clearVRComponents();
                    maxfieldDiv.show();
                    break;
                case '2':
                    clearVRComponents();
                    minfieldDiv.show();
                    break;
                case '3':
                case '4':
                case '6':
                    clearVRComponents();
                    break;
                case '5':
                    clearVRComponents();
                    spDiv.show();
                    break;
                case '7':
                    clearVRComponents();
                    regexDiv.show();
                    break
                case '8':
                    clearVRComponents();
                    reflistDiv.show();
                    break;
                default:
            }
        });
    });

    function AddVR() {
        var dataFieldId = $('#DataField_Id').val();
        var vrId = $('#VRId').val();
        var storedProcedureId = $('#StoredProcedureId').val();
        var regularExpressionId = $('.regex').val();
        var maxFieldLength = $('#MaxFieldLength').val();
        var minFieldLength = $('#MinFieldLength').val();
        var referenceListId = $('#ReferenceListId').val();
        var errorMessage = $('#ErrorMessage').val();
        var terminateIfInvalid = $('#TerminateIfInvalid').val();



        if (vrId == null || vrId == '') {
            return uiscript.displayMessage('vrMsg', 'Validation Rule is required.', true);

        }

        switch (vrId) {
            case '1':
                if (maxFieldLength == null || maxFieldLength == '') {
                    return uiscript.displayMessage('vrMsg', 'Max Field Length is required.', true);
                }
                break;
            case '2':
                if (minFieldLength == null || minFieldLength == '') {
                    return uiscript.displayMessage('vrMsg', 'Min Field Length is required.', true);
                }
                break;
            case '5':
                if (storedProcedureId == null || storedProcedureId == '') {
                    return uiscript.displayMessage('vrMsg', 'Stored Procedure is required.', true);
                }
                break;
            case '7':
                if (regularExpressionId == null || regularExpressionId == '') {
                    return uiscript.displayMessage('vrMsg', 'Reg Ex is required.', true);
                }
                break;
            case '8':
                if (referenceListId == null || referenceListId == '') {
                    return uiscript.displayMessage('vrMsg', 'Reference List is required.', true);
                }
                break;
            default:
        }

        $.ajax({
            //base address/controller/Action
            url: '@Url.Action("VRUpdate", "DataField", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                //Passing Input parameter
                {
                    DataFieldId: dataFieldId,
                    VRId: vrId,
                    StoredProcedureId: storedProcedureId,
                    RegularExpressionId: regularExpressionId,
                    MaxFieldLength: maxFieldLength,
                    MinFieldLength: minFieldLength,
                    ReferenceListId: referenceListId,
                    ErrorMessage: errorMessage,
                    TerminateIfInvalid: terminateIfInvalid
                },
            success: function (data) {
                $('#pnlVRList').html(data);
                uiscript.displayMessage('vrMsg', 'Validation rule added successfully.', false);
            },
            error: function (xhr, status, errorThrown) {
                DisplayErrMsg('vrMsg', xhr.status + ' - ' + xhr.responseText);                
                if (xhr.status == 500)
                    uiscript.displayMessage('vrMsg', 'Refresh and try again...', true);
                else {
                    uiscript.displayMessage('vrMsg', xhr.status + ' - ' + xhr.responseText, true);
                }
            }
        });


        return false;
    }

    function DeleteVR(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('vrMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("VRDelete", "DataField", null, Request.Url.Scheme)',
            'pnlVRList', 'vrMsg', 'validationrules', null, 'Validation Rule deleted successfully.');

        return false;
    }



</script>
