﻿@model IEnumerable<Mgl.DataValidator.Models.DataFieldRule>

<div class="table-responsive">

    <table class="table table-sm table-striped table-hover table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VRId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoredProcedureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularExpressionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFieldLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinFieldLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminateIfInvalid)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.VR.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoredProcedure.SPName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularExpression.RegExText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceList.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFieldLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinFieldLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminateIfInvalid)
            </td>
            <td>
                @Html.ActionLink("Delete", null, new { id = item.Id },
             new { onclick = "return DeleteVR(" + item.Id + ")", @class= "badge badge-pill badge-info" })
            </td>
        </tr>
        }

    </table>
</div>
