﻿@model Mgl.DataValidator.ViewModel.DataFieldViewModel
@using Mgl.DataValidator.Models
@{
    ViewBag.Title = "Data Field Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DataField.DisplayDescription)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.FieldType, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(((EnumFieldType)Model.DataField.FieldType).ToString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.Disabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.FieldStatus)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.ExcludeFromOutput, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.DisplayExcludeFromOutput)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.OutputColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.DisplayOutputColumnName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.XMLChildNodeXPath, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DataField.DisplayXMLChildNodeXPath)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.CoordinateForVariable, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DataField.CoordinateForVariable)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.FieldWidth, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DataField.FieldWidth)
                </div>
            </div>
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.DCExpression, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DataField.DCExpression)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.Parameterize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.Label(Model.DataField.Parameterize.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.ParameterLabel, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.ParameterLabel)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.XMLListElementId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.Label(Model.DataField.XMLListElementId.HasValue? Model.DataField.XMLListElementId.Value.ToString() : string.Empty)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DataField.ChildNodes, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DataField.ChildNodes)
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="table-responsive">

        <table class="table table-sm table-responsive-sm table-striped table-hover table-condensed table-bordered">
            <tr>

                <th>
                    Action
                </th>
                <th>
                    Old Text
                </th>
                <th>
                    New Text
                </th>
            </tr>

            @foreach (var item in Model.DataField.DataFieldDataCleansings)
            {
                <tr>
                    <td>
                        @item.Action.GetDisplayName()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OldText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewText)
                    </td>
                </tr>
            }

        </table>
    </div>


    <hr />

    <div class="table-responsive-sm">

        <table class="table table-sm table-responsive-sm table-striped  table-hover table-condensed table-bordered">
            <tr>
                <th>
                    Validation Rule
                </th>
                <th>
                    Stored Procedure
                </th>
                <th>
                    Reg Ex
                </th>
                <th>
                    Reference List
                </th>
                <th>
                    Max FL
                </th>
                <th>
                    Min FL
                </th>
            </tr>

            @foreach (var item in Model.DataField.DataFieldRules)
            {
                <tr>
                    <td>
                        @item.VR.GetDisplayName()
                    </td>
                    <td>
                        @(item.StoredProcedureId != null ? item.StoredProcedure.SPName : string.Empty)
                    </td>
                    <td>
                        @(item.RegularExpressionId != null ? item.RegularExpression.RegExText : string.Empty)
                    </td>
                    <td>
                        @(item.ReferenceListId != null ? item.ReferenceList.Name : string.Empty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxFieldLength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinFieldLength)
                    </td>
                </tr>
            }

        </table>
    </div>


</div>
<div class="form-inline">
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
    {
        <div>@Html.ActionLink("Edit", "Edit", new { id = Model.DataField.Id }, new { @class = "btn badge-info" })</div>
    }
        <div>@Html.ActionLink("Back", null, null, new { @class = "btn badge-info", @href = Request.UrlReferrer == null ? new Uri(Request.Url.Authority + "/DataField") : Request.UrlReferrer })</div>
</div>
