﻿@model Mgl.DataValidator.ViewModel.DataFieldViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Edit Data Field";

}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.DataField.Id)
        @Html.Hidden("UrlRef", Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : "Index")

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DataField.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.DataField.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.OutputColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DataField.OutputColumnName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.DataField.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.XMLChildNodeXPath, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.DataField.XMLChildNodeXPath, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.FieldType, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DataField.FieldType, EnumHelper.GetSelectList(typeof(EnumFieldType), (EnumFieldType)Model.DataField.FieldType), "Select a field type...", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.DataField.FieldType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.OutputFieldOnly, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("DataField.OutputFieldOnly", Model.DataField.OutputFieldOnly, new { name = "DataField.OutputFieldOnly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.ExcludeFromOutput, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("DataField.ExcludeFromOutput", Model.DataField.ExcludeFromOutput, new { name = "DataField.ExcludeFromOutput" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.HasMultipleNodes, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.DataField.HasMultipleNodes)
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.FileSection, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DataField.FileSection, EnumHelper.GetSelectList(typeof(EnumFileSection), (EnumFileSection)Model.DataField.FileSection), "Select a file section...", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.DataField.FileSection, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.XMLListElementId, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @if (Model.DataField.XMLListElementId.HasValue)
                        {
                            @Html.DropDownListFor(model => model.DataField.XMLListElementId, EnumHelper.GetSelectList(typeof(EnumXmlListElement), (EnumXmlListElement)(Model.DataField.XMLListElementId)), "Select a XML list element type...", new { @class = "form-control form-control-sm" })
                        }
                        else
                        {
                            @Html.DropDownList("DataField.XMLListElementId", EnumHelper.GetSelectList(typeof(EnumXmlListElement)), "Select a XML list element type...", new { @class = "form-control form-control-sm" })
                        }
                        </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.OutputFormat, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DataField.OutputFormat, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.ChildNodes, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DataField.ChildNodes, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.CoordinateForVariable, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DataField.CoordinateForVariable, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.DefaultValue, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DataField.DefaultValue, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.FieldWidth, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DataField.FieldWidth, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.Parameterize, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("DataField.Parameterize", Model.DataField.Parameterize, new { name = "DataField.Parameterize" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.DCExpression, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DataField.DCExpression, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        <a href="https://docs.microsoft.com/en-us/dotnet/api/system.data.datacolumn.expression?view=netcore-3.1#examples" target="_blank">
                            <img src="~/Content/Images/help_small.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DataField.ParameterLabel, htmlAttributes: new { @class = "badge cust-badge-light col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.DataField.ParameterLabel, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Use local name (eg first-name) for the child node's XPath if the XML data needs to be validated against XSD schema,
                        <br />otherwise use full path.(eg. author/first-name)
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="row mb-2">
            <div class="col-md-12">

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Save" class="btn badge-info" />
                        @Html.ActionLink("Clone", "Clone", null, new { id = Model.DataField.Id }, new { @class = "btn badge-info" })
                        @Html.ActionLink("Back", null, null, null, new { @class = "btn badge-info", @href = ((Request.UrlReferrer == null) ? new Uri(Request.Url.Authority + "/DataField/") : Request.UrlReferrer) })
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            @Html.Partial("_DCActions", Model)
        </div>

        <div>
            @Html.Partial("_ValidationRules", Model)
        </div>
    </div>
}

<div class="mt-3">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</div>
<script language="javascript" type="text/javascript">
    var ckboxHasMultiNodes = $('#DataField_HasMultipleNodes');
    var ddlXmlListElementId = $('#DataField_XMLListElementId');    
    var ckboxOutputFieldOnly = $('#DataField_OutputFieldOnly');

    $(document).ready(function () {


        $(function () {
            ddlXmlListElementId.on("change", function () {
                var selectedId = ddlXmlListElementId.val()
                if (selectedId != '' && selectedId != null) {
                    ckboxHasMultiNodes.prop('checked', false);
                    switch (selectedId) {
                        case '4':
                            $('#DataField_ChildNodes').val('');
                        case '2', '3':
                            ckboxOutputFieldOnly.prop('checked', true);
                            break;
                        case '1':
                            if (!ckboxOutputFieldOnly.is(':checked'))
                                alert('Check the Output Field Only if this is a sub list of a XML list.');
                        default:
                            break;
                    }
                }
                return false;
            });
        });


        $(function () {
            ckboxHasMultiNodes.change(function () {
                if (this.checked) {
                    $('#DataField_ChildNodes').val('');
                    $('#DataField_XMLListElementId').val('');
                }
                return false;
            });
        });


    });


</script>