﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.SearchPrms<DataField>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Data Fields";

}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Index", "DataField", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">
            <div class="col-md-8">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        <input type="submit" value="Search" class="btn badge-info" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

        </div>

    </div>

}

@if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
{
    <div style="float:left; margin-top:20px">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
    </div>

}
<div style="float:right">
    @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, }))
</div>

<div class="table table-responsive">

    <table class="table table-sm small table-striped table-hover table-condensed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Output Column Name
            </th>
            <th>
                Exclude From Output
            </th>
            <th>
                XPath
            </th>
            <th>
                Field Type
            </th>
            <th>
                File Section
            </th>
            <th>
                Referenced By
            </th>
            <th style="width:7%">
                Actions
            </th>
        </tr>

        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOutputColumnName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayExcludeFromOutput)
                </td>
                <td style="max-width:175px; word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.DisplayXMLChildNodeXPath)
                </td>
                <td>
                    @((Mgl.DataValidator.Models.EnumFieldType)item.FieldType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayFileSection)
                </td>
                <td>
                    @Html.Raw(item.AssocciatedFileTemplates)
                </td>
                <td style="width:7%">
                    <div> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })</div>
                    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                    {
                        <div> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })</div>
                    }
                    <div>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })</div>
                </td>
            </tr>
        }

    </table>


</div>

<div style="margin-top:20px">
    Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

    @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, }))

</div>


<script type="text/javascript">
    $(function () {
        $("#PageSize").change(function () {
            $("#form1").submit();
        });
    });

</script>