﻿@model Mgl.DataValidator.Models.XsdFile

@{
    ViewBag.Title = "Create";
    
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Create", "XsdFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.LocalFileName)

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.XmlNameSpace, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.XmlNameSpace, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="col-md-3 badge cust-badge-light">
                    <label>Data File </label>
                </div>
                <div class="col-md-auto ">
                    <input type="file" class="form-control-file" name="fileInput" id="fileInput" aria-describedby="fileHelp">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.OriginalFileName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.OriginalFileName, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center InputFileNameVD">
                @Html.ValidationMessageFor(model => model.OriginalFileName, "Select a file to get the file name...", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />
    <div class="form-inline">
        <div class="col-md-offset-2">
            <input type="submit" value="Create" class="btn badge-info btnCreateTstFT" />
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn badge-info" })
        </div>
    </div>
</div>
}

<div>
</div>


<script>
    $(document).ready(function () {
        $('.InputFileNameVD').hide();
        $('#OriginalFileName').prop('required', false);       
    });

    $('.btnCreateTstFT').click(function () {

        if ($('#OriginalFileName').val() == null || $('#OriginalFileName').val() == '') {
            $('.InputFileNameVD').show();
            $('#OriginalFileName').prop('required', true);
        }
        else {
            $('.InputFileNameVD').hide();
            $('#OriginalFileName').prop('required', false);
        }        
    });

    $('#fileInput').change(function () {
        var filePath = $(this).val();

        if (filePath != null || filePath != '') {
            var fileNameIndex = filePath.lastIndexOf('\\') + 1;
            var fileName = filePath.substr(fileNameIndex);
            $('#OriginalFileName').val(fileName);
            $('.InputFileNameVD').hide();
            $('#OriginalFileName').prop('required', false);
        }
        if (filePath == null || filePath == '') {
            $('.InputFileNameVD').show();
        }
    });


</script>
