﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.XsdFile

@{
    ViewBag.Title = "Xsd File Details";

}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Description, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.Description)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.OriginalFileName, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.OriginalFileName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.XmlNameSpace, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.XmlNameSpace)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.LocalFileName, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.LocalFileName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Disabled, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Disabled.ToYesNo())
                </div>
            </div>
        </div>

    </div>

</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>
