﻿@model IEnumerable<Mgl.DataValidator.Models.TestProfile>


<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tableFTTP">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileTemplate.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNoOfRowsExpected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNoNewCasesExpected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBalanceForNewCasesExpected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebtColumnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNoIgnoredRowsExpected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InputFileName)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileTemplate.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoOfRowsExpected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoNewCasesExpected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBalanceForNewCasesExpected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtColumnName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoIgnoredRowsExpected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InputFileName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })                   
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return DeleteProfile(" + item.Id + ");", @class = "badge badge-pill badge-info" })
                </td>
            </tr>
        }

    </table>
</div>
