﻿@model Mgl.DataValidator.Models.TestProfile

<tr>
    <td>
        @Html.ActionLink(Model.FileTemplate.Name, "Details", new { id = Model.Id })
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoOfRowsExpected)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoRows)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoNewCasesExpected)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoNewCases)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalBalanceForNewCasesExpected)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalBalanceForNewCases)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoIgnoredRowsExpected)
    </td>
    <td>
        @Html.DisplayFor(model => model.TotalNoIgnoredRows)
    </td>
    <td>
        @Html.DisplayFor(model => model.TestResult)
    </td>
</tr>
@if (Model.ResultStatus == false && !string.IsNullOrEmpty(Model.Error))
{
    <tr>
        <td>
            
        </td>
        <td colspan="9">
            Error Description @Html.DisplayFor(model => model.Error)
        </td>
    </tr>


}



