﻿@model Mgl.DataValidator.ViewModel.TestProfileViewModel

@{
    ViewBag.Title = "Create";
    
}

<h2>Test Profile</h2>
<hr />

@using (Html.BeginForm("Create", "TestProfiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.FileTemplateId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.TestProfile.FileTemplateId, Model.SelectFTItems, "-- Select FT for Test --", htmlAttributes: new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center FileTemplateIdVD">
                    @Html.ValidationMessageFor(model => model.TestProfile.FileTemplateId, "", new { @class = "text-danger" })                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.TotalNoOfRowsExpected, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.TotalNoOfRowsExpected, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.TestProfile.TotalNoOfRowsExpected, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.TotalNoNewCasesExpected, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.TotalNoNewCasesExpected, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.TestProfile.TotalNoNewCasesExpected, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.TotalBalanceForNewCasesExpected, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.TotalBalanceForNewCasesExpected, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.TestProfile.TotalBalanceForNewCasesExpected, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.DebtColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.DebtColumnName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.TotalNoIgnoredRowsExpected, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.TotalNoIgnoredRowsExpected, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.TestProfile.TotalNoIgnoredRowsExpected, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    <div class="col-md-3 badge cust-badge-light">
                        <label>Data File </label>
                    </div>
                    <div class="col-md-auto ">
                        <input type="file" class="form-control-file" name="fileInput" id="fileInput" aria-describedby="fileHelp">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TestProfile.InputFileName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.TestProfile.InputFileName, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center InputFileNameVD">
                    @Html.ValidationMessageFor(model => model.TestProfile.InputFileName, "Select a file to get the file name...", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="submit" value="Create" class="btn badge-info btnCreateTstFT" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

<div>
</div>


<script>
    $(document).ready(function () {
        $('.InputFileNameVD').hide();
        $('#TestProfile_InputFileName').prop('required', false);       
    });

    $('.btnCreateTstFT').click(function () {

        if ($('#TestProfile_InputFileName').val() == null || $('#TestProfile_InputFileName').val() == '') {
            $('.InputFileNameVD').show();
            $('#TestProfile_InputFileName').prop('required', true);
        }
        else {
            $('.InputFileNameVD').hide();
            $('#TestProfile_InputFileName').prop('required', false);
        }        
    });

    $('#fileInput').change(function () {
        var filePath = $(this).val();

        if (filePath != null || filePath != '') {
            var fileNameIndex = filePath.lastIndexOf('\\') + 1;
            var fileName = filePath.substr(fileNameIndex);
            $('#TestProfile_InputFileName').val(fileName);
            $('.InputFileNameVD').hide();
            $('#TestProfile_InputFileName').prop('required', false);
        }
        if (filePath == null || filePath == '') {
            $('.InputFileNameVD').show();
        }
    });


</script>
