﻿@model Mgl.DataValidator.Models.TestProfile

@{
    ViewBag.Title = "Delete";
    
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TestProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalNoOfRowsExpected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNoOfRowsExpected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNoNewCasesExpected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNoNewCasesExpected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBalanceForNewCasesExpected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBalanceForNewCasesExpected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNoIgnoredRowsExpected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNoIgnoredRowsExpected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.UserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
