﻿@model Mgl.DataValidator.Models.TestProfile

@{
    ViewBag.Title = "Test Profile Details";
    
}

<h2>@ViewBag.Title</h2>
<hr/>
<div>

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplateId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.FileTemplate.Name)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.Disabled, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.Disabled ? "No" : "Yes")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.CreatedBy, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.User.UserName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DateCreated, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DateCreated.ToShortDateString())
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.UpdatedBy, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.User.UserName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DateUpdated, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DateUpdated.ToString())
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TotalNoOfRowsExpected, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.TotalNoOfRowsExpected)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TotalNoNewCasesExpected, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.TotalNoNewCasesExpected)
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TotalBalanceForNewCasesExpected, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Math.Round(Model.TotalBalanceForNewCasesExpected, 2)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.TotalNoIgnoredRowsExpected, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.TotalNoIgnoredRowsExpected)
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.InputFileName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.InputFileName)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DebtColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8">
                        @Html.DisplayTextFor(model => model.DebtColumnName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>
