﻿@model IEnumerable<Mgl.DataValidator.Models.TestProfile>

@{
    ViewBag.Title = "Test Profiles";
    
}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
    @Html.ActionLink("Progression Test", "ProgressionTest", null, new { @class = "btn badge-info" })
</p>

<div id="testProfileTable">
    @Html.Partial("_Index", Model)
</div>

<script>
   


    function DeleteProfile(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete this profile?</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("Delete", "TestProfiles", null, Request.Url.Scheme)',
            'testProfileTable', 'actionMsg', null, null, 'The file template test profile has been deleted.');
        
        return false;
    }    
</script>