﻿@model Mgl.DataValidator.ViewModel.TestProfileViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Progression Test";
    
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("TestProfileIds", string.Join(",", Model.TestProfiles.Select(x => x.Id.ToString()).ToArray()))

        <div class="row mb-2">
            <div class="form-inline">
                <div class="col-md-12">
                    @Html.ActionLink("Run Tests", "RunTest", "TestProfiles", null, new { @class = "btn badge-info", @onclick = "RunTests(); return false;" })
                    @Html.ActionLink("Start Async Tests ", "RunTestsAsync", "TestProfiles", new { userId = ((User)Context.Session[HttpContext.Current.Session.SessionID]).Id }, new { @class = "btn badge-info", @onclick = "return RunTestsAsync();" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-2">
                <table class="table table-hover table-bordered table-sm " id="tblHistoryResults">
                    <thead class="thead-dark">
                        <tr>
                            @*<th colspan="2">*@
                            <th>
                                Tests History
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TestResults.Count() > 0)
                        {
                            foreach (var item in Model.TestResults.OrderByDescending(x => x.ProcessStart).ToList().Take(20))
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.ProcessStart.ToString("dd/MM/yyyy HH:mm:ss"), "GetTestResult", new { id = item.Id }, new { @onclick = "return GetTestResult(" + item.Id.ToString() + ");" })
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>*@
                                </tr>
                            }


                        }
                    </tbody>

                </table>
            </div>
            <div class="col-md-10">

                <div id="divTestResult">
                    <table class="table table-hover table-bordered table-sm " id="tblResults">
                        <thead class="thead-dark">
                            <tr>
                                <th>

                                </th>
                                <th colspan="2">
                                    Total No. Rows
                                </th>
                                <th colspan="2">
                                    Total No. Cases
                                </th>
                                <th colspan="2">
                                    Sum Of New Cases
                                </th>
                                <th colspan="2">
                                    Total No. Ignored Rows
                                </th>
                                <th>

                                </th>

                            </tr>


                            <tr>
                                <th>
                                    File Template
                                </th>
                                <th>
                                    Expected
                                </th>
                                <th>
                                    Actual
                                </th>
                                <th>
                                    Expected
                                </th>
                                <th>
                                    Actual
                                </th>
                                <th>
                                    Expected
                                </th>
                                <th>
                                    Actual
                                </th>
                                <th>
                                    Expected
                                </th>
                                <th>
                                    Actual
                                </th>
                                <th>
                                    Test Result
                                </th>

                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
                <div class="alert alert-info" id="progress">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="form-inline">
                <div class="col-md-12">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn badge-info" })
                </div>
            </div>
        </div>

    </div>
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

        });


        function RunTests() {
            var ids = $('#TestProfileIds').val().split(",");
            var divTR = document.getElementById('divTestResult');
            document.getElementById('progress').innerText = "Processing all registered tests...";
            divTR.innerHTML = "<table class='table table-hover table-bordered table-sm ' id='tblResults'><thead class='thead-dark'><tr><th></th><th colspan='2'>Total No. Rows</th><th colspan='2'>Total No. Cases</th><th colspan='2'>Sum Of New Cases</th><th colspan='2'>Total No. Ignored Rows</th><th></th></tr><tr><th>File Template</th><th>Expected</th><th>Actual</th><th>Expected</th><th>Actual</th><th>Expected</th><th>Actual</th><th>Expected</th><th>Actual</th><th>Test Result</th></tr></thead><tbody></tbody></table>";

            $("#tblResults > tbody").html("");
            for (i = 0; i < ids.length; i++) {
                $.ajax({
                    url: '@Url.Action("RunTest", "TestProfiles", null, Request.Url.Scheme)',
                    type: 'POST',
                    dataType: 'html',
                    async: true,
                    data:
                    {
                        Id: ids[i]
                    },
                    success: function (data) {
                        $('#tblResults').append(data);
                    },
                    error: function (xhr, status, errorThrown) {
                        document.getElementById('progress').innerText = "Error: " + errorThrown;
                        alert(errorThrown);
                    },
                    complete: function () {
                        document.getElementById('progress').innerText = "Process completed. Number of file templates tested: " + i;
                    }
                });

            }

            return false;
        }

        function GetTestResult(id) {
            var divTR = document.getElementById('divTestResult');
            document.getElementById('progress').innerText = '';

            divTR.innerHTML = '';


                $.ajax({
                    url: '@Url.Action("GetTestResult", "TestProfiles", null, Request.Url.Scheme)',
                    type: 'POST',
                    dataType: 'text',
                    data:
                        {
                            Id: id
                        },
                    success: function (data) {
                        divTR.innerHTML = data;
                    },
                    error: function (xhr, status, errorThrown) {
                        document.getElementById('progress').innerText = "Error: " + errorThrown;
                    }
                });


            return false;
        }


        function RunTestsAsync() {

                $.ajax({
                    url: '@Url.Action("RunTestsAsync", "TestProfiles", null, Request.Url.Scheme)',
                    type: 'POST',
                    dataType: 'text',
                    async: true,
                    success: function (data) {
                        //divTR.innerText = data;
                    },
                    error: function (xhr, status, errorThrown) {
                        document.getElementById('progress').innerText = "Error: " + errorThrown;
                    }
                });

            document.getElementById('progress').innerText = 'Progression test has been intitiated as requested. The tests report will be available once the process is completed successfully';
            return false;
        }
    </script>
}