﻿@using System.Data
@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.BUAuditSearchPrms<DataRow>

<table class="table table-sm table-striped table-hover table-condensed tableFTTP">
    <tr>
        <th colspan="3">
            Total No. Rows: @Model.RowsCount.ToString()
        </th>
        <th colspan="3">
            No. Imported Rows: @Model.CasesImported.ToString()
        </th>
        <th colspan="3">
            No. Appending Rows: @Model.AppendingCases.ToString()
        </th>
        <th colspan="3">
            No. Import Errors: @Model.CasesWithError.ToString()
        </th>
    </tr>
</table>

<div class="table-responsive">
    @if (Model.Results.Count > 0)
    {
        <table class="table table-sm table-striped table-hover table-condensed tableFTTP">
            <tr>
                @foreach (DataColumn col in Model.Results[0].Table.Columns)
                {
                    <th>
                        @col.ColumnName
                    </th>

                }
            </tr>
            @foreach (DataRow rw in Model.Results)
            {
                <tr>
                @foreach (var col in rw.ItemArray)
                {
                    <td>
                        @col.ToString()
                    </td>
                }
                </tr>
            }
        </table>
    }
</div>
