﻿@model Mgl.DataValidator.Models.FileTemplate
@using Mgl.DataValidator.Models

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Parameters/DF Pre-set Values </legend>
    @foreach (var df in Model.ParameterizedDataFields)
    {
        <div class="row mb-2 col-md-12">
            <div class="col-md-12">
                <div class="form-inline">
                    @Html.Label(string.IsNullOrEmpty(df.ParameterLabel) ? df.Name:df.ParameterLabel, new { @class = "badge cust-badge-light col-md-auto" })
                    <div class="col-md-auto">
                        @if ((EnumFieldType)df.FieldType == EnumFieldType.Boolean)
                        {
                            <input @df.ParamInputType id="@df.Name" name="@df.Name" class="form-control form-control-sm" value="true">
                            <input type="hidden" value="false" name="@df.Name" id="@df.Name">
                        }
                        else
                        {
                            <input @df.ParamInputType id="@df.Name" name="@df.Name" class="form-control form-control-sm" value="@df.PresetValue">
                        }
                        @if (df.IsMandatory)
                        {
                            <a class="font-weight-bold" style="color:red">*</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</fieldset>