﻿@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Data File Manager";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row mb-2">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Bulk Upload</h2>
            <p class="lead">Cleanse, validate and upload data to database</p>
            <p><a href="~/File/Upload" class="btn btn-info btn-lg">Upload &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Data Validation</h2>
            <p class="lead">Cleanse and validate loaded data file</p>
            <p><a href="~/File/Validate" class="btn btn-info btn-lg">Validate &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Data Preprocessing</h2>
            <p class="lead">Generate preprocessed output files for OneStep</p>
            <p><a href="~/File/OutputFiles" class="btn btn-info btn-lg">Generate Files &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>File Repository</h2>
            <p class="lead">Upload files to specified repository folder on server</p>
            <p><a href="~/File/UploadToRepository" class="btn btn-info btn-lg">Upload &raquo;</a></p>
        </div>
    </div>
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
    {
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Transform Data</h2>
                <p class="lead">Execute pre-set stored procedure for data transformation. </p>
                <p><a href="~/File/Transform" class="btn btn-info btn-lg">Transform &raquo;</a></p>
            </div>
        </div>
    }
</div>
