﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.ViewModel.VMFileUpload


@{
    ViewBag.Title = "Data Transformation";

}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Transform", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SelectedClientId, "Client", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.SelectedClientId, Model.ClientList, "Select a client...", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.SelectedClientId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SelectedFileTemplateId, "File Template", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.SelectedFileTemplateId, Model.FileTemplateTransformReadyList, "Select a file template...", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.SelectedFileTemplateId, "", new { @class = "text-danger" })
                        @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).RoleId > ((int)EnumRole.ReadOnly))
                        {
                            <input type="button" value="..." class="btn badge-info" id="btnEditFT" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Transform" class="btn badge-info" id="btnUpload" />
                    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn badge-info" })
                </div>
            </div>
        </div>
    </div>
}

<script language="javascript" type="text/javascript">
    $(document).ready(function () {


        function toggleAlert() {
            $(".alert").toggleClass('in out');
            return false;
        };

        $("#btnEditFT").click(function () {
            if ($('#SelectedFileTemplateId').val() == null || $('#SelectedFileTemplateId').val() == '') {
                $('.dlgWarning-body').text("Please select a file template and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            var url = '@Url.Action("Edit", "FileTemplate", new { id = "__id__" }, Request.Url.Scheme)';
            window.location.href = url.replace('__id__', $('#SelectedFileTemplateId').val());
        });

        $("#btnUpload").click(function () {
            if ($('#SelectedFileTemplateId').val() == null || $('#SelectedFileTemplateId').val() == '') {
                $('.dlgWarning-body').text("Please select a file template and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            $("#UploadFile").submit();
        });

        $("#SelectedClientId").on("change", function () {
            $("#SelectedFileTemplateId").empty();
            $("#SelectedFileTemplateId").append($("<option> </option > ").val(null).html('Select a file template...'));
            if ($('#SelectedClientId').val() == null || $('#SelectedClientId').val() == '') {
                return false;
            }

            $.ajax({
                //base address/controller/Action
                url: '@Url.Action("GetFileTemplates", "File", null, Request.Url.Scheme)',
                type: 'GET',
                dataType: 'json',
                data: {
                    //Passing Input parameter
                    clientId: $('#SelectedClientId').val(),
                    screen: 3
                },
                success: function (data) {

                    $.each(data, function () {
                        $("#SelectedFileTemplateId").append($("<option> </option > ").val(this['Id']).html(this['Name']));
                    });
                },
                error: function (xhr, status, errorThrown) {
                    //Here the status code can be retrieved like;
                    alert(xhr.status + ' - ' +
                        //The message added to Response object in Controller can be retrieved as following.
                        xhr.responseText);
                }
            });
            return false;
        });
    });


</script>

