﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.ViewModel.VMFileUpload


@{
    ViewBag.Title = "Bulk Upload";

}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.SelectedClientId, "Client", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.SelectedClientId, Model.ClientList, "Select a client...", new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.SelectedClientId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.SelectedFileTemplateId, "File Template", new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.SelectedFileTemplateId, Model.FileTemplateBulkCopyReadyList, "Select a file template...", new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.SelectedFileTemplateId, "", new { @class = "text-danger" })
                    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).RoleId > ((int)EnumRole.ReadOnly))
                    {
                        <input type="button" value="..." class="btn badge-info" id="btnEditFT" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="FTParams">
        @if (Model.SelectedFT != null && Model.SelectedFT.ParameterizedDataFields.Count > 0)
        {
            @Html.Partial("_FTParams", Model.SelectedFT)
        }
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="col-md-3 badge cust-badge-light">
                    <label>Input Data File</label>
                </div>
                <div class="col-md-auto ">
                    <input type="file" class="form-control-file" name="UploadedFile" id="fileInput" aria-describedby="fileHelp">
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="col-md-offset-3">
                    <input type="submit" name="action" value="Upload" class="btn badge-info" id="btnUpload" />
                    <input type="button" value="BU Report" class="btn badge-info" id="btnBUReport" />
                    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn badge-info" })
                </div>
            </div>
        </div>
    </div>
</div>
}

<script language="javascript" type="text/javascript">
    function GetFTParams() {
        $('.FTParams').html('');
        var selectedFTId = $('#SelectedFileTemplateId').val()

        if (selectedFTId != null) {            

            $.ajax({
                url: '@Url.Action("GetFTParams", "File", null, Request.Url.Scheme)',
                type: 'POST',
                dataType: 'html',
                data:
                {
                        selectedFTId: selectedFTId
                },
                success: function (data) {
                    $('.FTParams').html(data);
                },
                error: function (xhr, status, errorThrown) {
                    
                }
            });
        }
    }

    $(document).ready(function () {


        function toggleAlert() {
            $(".alert").toggleClass('in out');
            return false;
        };

        $("#btnEditFT").click(function () {
            if ($('#SelectedFileTemplateId').val() == null || $('#SelectedFileTemplateId').val() == '') {
                $('.dlgWarning-body').text("Please select a file template and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            var url = '@Url.Action("Edit", "FileTemplate", new { id = "__id__" }, Request.Url.Scheme)';
            window.location.href = url.replace('__id__', $('#SelectedFileTemplateId').val());
        });

        $("#btnBUReport").click(function () {
            if ($('#SelectedFileTemplateId').val() == null || $('#SelectedFileTemplateId').val() == '') {
                $('.dlgWarning-body').text("Please select a file template and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            var url = '@Url.Action("BUReport", "File", new { SelectedFileTemplateId = "__id__" }, Request.Url.Scheme)';
            window.location.href = url.replace('__id__', $('#SelectedFileTemplateId').val());
        });

        $("#btnUpload").click(function () {
            if ($('#SelectedFileTemplateId').val() == null || $('#SelectedFileTemplateId').val() == '') {
                $('.dlgWarning-body').text("Please select a file template and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            if ($('#fileInput').val() == null || $('#fileInput').val() == '') {
                $('.dlgWarning-body').text("Please select a data file and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            $("#UploadFile").submit();
        });

        $("#SelectedClientId").on("change", function () {
            $('.FTParams').html('');
            $("#SelectedFileTemplateId").empty();
            $("#SelectedFileTemplateId").append($("<option> </option > ").val(null).html('Select a file template...'));
            if ($('#SelectedClientId').val() == null || $('#SelectedClientId').val() =='') {
                return false;
            }

            $.ajax({
                //base address/controller/Action
                url: '@Url.Action("GetFileTemplates", "File", null, Request.Url.Scheme)',
                type: 'GET',
                dataType: 'json',
                data: {
                    //Passing Input parameter
                    clientId: $('#SelectedClientId').val(),
                    screen: 2
                },
                success: function (data) {

                    $.each(data, function () {
                        $("#SelectedFileTemplateId").append($("<option> </option > ").val(this['Id']).html(this['Name']));
                    });
                },
                error: function (xhr, status, errorThrown) {
                    //Here the status code can be retrieved like;
                    alert(xhr.status + ' - ' +
                        //The message added to Response object in Controller can be retrieved as following.
                        xhr.responseText);
                }
            });
            return false;
        });

        $("#SelectedFileTemplateId").on("change", function () {
            GetFTParams();
            return false;
        });

    });

    $('.custom-file-input').on('change', function () {
        var fileName = $(this).val();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });


</script>


