﻿@model Mgl.DataValidator.ViewModel.ClientViewModel

@{
    ViewBag.Title = "Client Details";
    
}

<h2>@ViewBag.Title</h2>

<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.Client.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.Client.Name)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.Client.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.DisplayTextFor(model => model.Client.DisplayDescription)
            </div>
        </div>
    </div>
</div>

@*<div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Client.CreatedBy, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Client.User.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Client.DateCreated, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Client.DateCreated.ToShortDateString())
                </div>
            </div>
        </div>
    </div>*@

@*<div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Client.UpdatedBy, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Client.User.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Client.DateUpdated, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Client.DateUpdated.ToString())
                </div>
            </div>
        </div>
    </div>*@

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.Client.Disabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.Client.DisplayClientStatus)
            </div>
        </div>
    </div>
</div>

<hr />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Client.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>