﻿@model Mgl.DataValidator.ViewModel.ClientViewModel

@{
    ViewBag.Title = "Edit Client";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Client.Id)

        <div class="row">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.Client.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Client.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-auto">
                <div class="form-inline">

                    @Html.LabelFor(model => model.Client.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Client.Description, new { @class = "form-control form-control-sm", @cols = 30, @rows = 4 })                        
                    </div>
                </div>
            </div>
        </div>    
        <hr/>
        <div class="form-inline">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn badge-info" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

<div>
   
</div>
