﻿@model Mgl.DataValidator.ViewModel.ClientViewModel

@{
    ViewBag.Title = "Reinstate";
    
}

<h2>Clients</h2>
<hr/>
<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn badge-info" })
</p>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Description)
            </th>
            <th>
                Actions
            </th>

        </tr>

        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Description)
                </td>
                <td>
                    @Html.ActionLink("Reinstate", "Reinstate", new { id = client.Id }, new { @class = "badge badge-pill badge-info" })
                </td>
            </tr>
        }

    </table>
</div>