﻿@model Mgl.DataValidator.ViewModel.DBConnectionViewModel
@{
    ViewBag.Title = "DB Connection Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.DBConnection.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.DBConnection.Name)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.DBConnection.DisplayConnectionAvailability, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.DBConnection.DisplayConnectionAvailability)
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.DBConnection.ConnectionString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-8">
                @Html.DisplayTextFor(model => model.DBConnection.ConnectionString)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.DBConnection.DBServerType, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(((Mgl.DataValidator.Models.EnumDBServer) Model.DBConnection.DBServerType).ToString())
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DBConnection.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>