﻿@model Mgl.DataValidator.ViewModel.DBConnectionViewModel

@{
    ViewBag.Title = "Edit DB Connection";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DBConnection.Id)

        <div class="row mb-1">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DBConnection.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DBConnection.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DBConnection.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DBConnection.DBServerType, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DBConnection.DBServerType, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumDBServer)), "-Select Server-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    @Html.ValidationMessageFor(model => model.DBConnection.DBServerType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DBConnection.ConnectionString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DBConnection.ConnectionString, new { @class = "form-control form-control-sm", @cols = 40, @rows = 3 })
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    @Html.ValidationMessageFor(model => model.DBConnection.ConnectionString, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn badge-info" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

