﻿@model Mgl.DataValidator.ViewModel.DBConnectionViewModel

@{
    ViewBag.Title = "Database Connections";
    
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
</p>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DBConnection.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model.Connections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })
                </td>
            </tr>
        }

    </table>
</div>