﻿@model Mgl.DataValidator.Models.RegularExpression
@{
    ViewBag.Title = "RegEx Details";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.Description)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.DisplayDisabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-auto">
                @Html.Label(Model.DisplayDisabled)
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="form-inline">
            @Html.LabelFor(model => model.RegExText, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
            <div class="col-md-8">
                @Html.DisplayTextFor(model => model.RegExText)
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>