﻿@using Mgl.DataValidator.Models;
@model IEnumerable<RegularExpression>

@{
    ViewBag.Title = "Regular Expressions";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
</p>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegExText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegExText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })
            </td>
        </tr>
        }

    </table>
</div>