﻿<!DOCTYPE html>
@using Mgl.DataValidator.Models
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data File Uploader</title>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jQuery.flashMessage.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/app/uiscript.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm cust-bg-light fixed-top py-0">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <img src="~/Content/Images/burgerIcon.png" />
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Brand/logo -->
            <a class="navbar-brand logo" href="~/Home/">
                <img src="~/Content/Images/small-logo-new.png" />
            </a>
            @if ((Context.Session[HttpContext.Current.Session.SessionID] != null) && ((User)Context.Session[HttpContext.Current.Session.SessionID]).Disabled == false)
            {

                    if (!((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin && ((User)Context.Session[HttpContext.Current.Session.SessionID]).UserClients.Count <= 0)
                    {

                    }
                    else
                    {
                    <!-- Links -->
            <ul class="navbar-nav cust-bg-light">
                @*<li class="nav-item">
            <a class="nav-link text-light" href="~/Home/">Home</a>
        </li>*@

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                        Data File
                    </a>
                    <div class="dropdown-menu cust-bg-light">
                        <a class="dropdown-item text-body" href="~/File/Index">Manager</a>
                        <a class="dropdown-item text-body" href="~/File/Upload">Bulk Upload</a>
                        <a class="dropdown-item text-body" href="~/File/Validate">Data Validation</a>
                        <a class="dropdown-item text-body" href="~/File/OutputFiles">Data Preprocessing</a>
                        <a class="dropdown-item text-body" href="~/File/UploadToRepository">File Repository</a>
                        @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                        {
                            <a class="dropdown-item text-body" href="~/File/Transform">Data Transformation</a>
                        }
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                        Data Entry
                    </a>
                    <div class="dropdown-menu cust-bg-light">
                        <a class="dropdown-item text-body" href="~/DataEntry/Index">Manager</a>
                        <a class="dropdown-item text-body" href="~/DataEntry/SelectFT">Data Entry</a>
                        <a class="dropdown-item text-body" href="~/DataEntry/Upload">Upload Data</a>
                        <a class="dropdown-item text-body" href="~/DataEntry/SelectAR">Audit Report</a>
                    </div>
                </li>


                @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).RoleId > ((int)EnumRole.ReadOnly))
                {
                    <!-- Dropdown -->
                    <li class="nav-item dropdown cust-bg-light">
                        <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                            Template Settings
                        </a>
                        <div class="dropdown-menu cust-bg-light">
                            <h5 class="dropdown-header">File Template</h5>
                            <a class="dropdown-item text-body" href="~/FileTemplate/">FT List</a>
                            <a class="dropdown-item text-body" href="~/FileTemplate/Create">Add FT</a>
                            <hr />
                            <h5 class="dropdown-header">Data Field</h5>
                            <a class="dropdown-item text-body" href="~/DataField/">DF List</a>
                            <a class="dropdown-item text-body" href="~/DataField/Create">Add DF</a>
                            @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                            {
                                <hr />
                                <h5 class="dropdown-header">DT Actions</h5>
                                <a class="dropdown-item text-body" href="~/DTAction/">DT Action List</a>
                                <a class="dropdown-item text-body" href="~/DTAction/Create">Add DT Action</a>
                                <hr />
                                <h5 class="dropdown-header">AR Actions</h5>
                                <a class="dropdown-item text-body" href="~/ARAction/">AR Action List</a>
                                <a class="dropdown-item text-body" href="~/ARAction/Create">Add AR Action</a>

                            }
                        </div>
                    </li>
                    if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                    {
                        <li class="nav-item dropdown cust-bg-light">
                            <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                                Dropdown Lists
                            </a>
                            <div class="dropdown-menu cust-bg-light">
                                <h5 class="dropdown-header">Reference List</h5>
                                <a class="dropdown-item text-body" href="~/ReferenceList">List of Reference List</a>
                                <a class="dropdown-item text-body" href="~/ReferenceList/Create">Add Reference List</a>
                                <hr />
                                <h5 class="dropdown-header">RegEx List</h5>
                                <a class="dropdown-item text-body" href="~/RegEx">List of Regular Expressions</a>
                                <a class="dropdown-item text-body" href="~/RegEx/Create">Add Regular Expression</a>
                                <hr />
                                <h5 class="dropdown-header">Xsd Files</h5>
                                <a class="dropdown-item text-body" href="~/XsdFile">Xsd File List</a>
                                <a class="dropdown-item text-body" href="~/XsdFile/Create">Add XsdFile</a>

                            </div>
                        </li>


                        <li class="nav-item dropdown cust-bg-light">
                            <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                                Database Settings
                            </a>
                            <div class="dropdown-menu cust-bg-light">
                                <h5 class="dropdown-header">Database Connection</h5>
                                <a class="dropdown-item text-body" href="~/DBConnection/">DB Connection List</a>
                                <a class="dropdown-item text-body" href="~/DBConnection/Create">Add DB Connection</a>
                                <hr />
                                <h5 class="dropdown-header">Stored Procedure</h5>
                                <a class="dropdown-item text-body" href="~/StoredProcedure">SP List</a>
                                <a class="dropdown-item text-body" href="~/StoredProcedure/Create">Add SP</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown cust-bg-light bold">
                            <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                                Tests
                            </a>
                            <div class="dropdown-menu cust-bg-light">
                                <h5 class="dropdown-header">Test Profile</h5>
                                <a class="dropdown-item text-body" href="~/TestProfiles/">TP List</a>
                                <a class="dropdown-item text-body" href="~/TestProfiles/Create">Add TP</a>
                                <a class="dropdown-item text-body" href="~/TestProfiles/ProgressionTest">Progression Test</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown cust-bg-light bold">
                            <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                                Security
                            </a>
                            <div class="dropdown-menu cust-bg-light">
                                <h5 class="dropdown-header">Client</h5>
                                <a class="dropdown-item text-body" href="~/Client/">Client List</a>
                                <a class="dropdown-item text-body" href="~/Client/Create">Add Client</a>
                                <hr />
                                <h5 class="dropdown-header">User</h5>
                                <a class="dropdown-item text-body" href="~/User/">User List</a>
                            </div>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-body" href="#" id="navbardrop" data-toggle="dropdown">
                            Support
                        </a>
                        <div class="dropdown-menu cust-bg-light">
                            <a class="dropdown-item text-body" href="~/Support/Index">Manager</a>
                            <a class="dropdown-item text-body" href="~/Support/SystemErrorLog">System Error Log</a>
                            <a class="dropdown-item text-body" href="~/Support/SystemEventLog">System Event Log</a>
                            @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                            {
                            <a class="dropdown-item text-body" href="~/Support/SQLErrorLog">SQL Error Log</a>
                            }
                        </div>
                    </li>

                }

            </ul>

                }

            }
        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown cust-bg-light">
                        <a class="nav-link dropdown-toggle glyphicon glyphicon-user" href="#" id="navbardrop" data-toggle="dropdown">
                            @User.Identity.Name
                        </a>
                        <div class="dropdown-menu cust-bg-light">
                            <a class="dropdown-item glyphicon glyphicon-log-in" href="~/Home/Logout">Log out</a>
                        </div>
                    </li>
                }
                else
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                }
            </ul>
        </div>



    </nav>
    <br />
    <div class="container">

        @Html.Partial("_Flash")
        @Html.Partial("_ModalDialogs")
        @RenderBody()
        <br />
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="fixed-bottom card-footer cust-bg-light footer-copyright text-body text-center py-0">
                &copy; Copyright @System.DateTime.Now.Year <a href="https://marstonholdings.co.uk/">Marston Holdings</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>    

</body>
</html>
