﻿<!-- The Modal -->
<div class="modal fade" id="dlgWarning">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert-heading alert-warning">
                <h4 class="modal-title dlgWarning-title">Operational Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body dlgWarning-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer dlgWarning-footer">
                <button type="button" class="badge" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>