﻿<!DOCTYPE html>
@using Mgl.DataValidator.Models
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data File Uploader</title>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jQuery.flashMessage.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/app/uiscript.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm cust-bg-light fixed-top py-0">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <img src="~/Content/Images/burgerIcon.png" />
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Brand/logo -->
            <a class="navbar-brand logo" href="~/Home/">
                <img src="~/Content/Images/small-logo-new.png" />
            </a>
        </div>


    </nav>
    <br />
    <div class="container">

        @Html.Partial("_Flash")
        @Html.Partial("_ModalDialogs")
        @RenderBody()
        <br />
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="fixed-bottom card-footer cust-bg-light footer-copyright text-body text-center py-0">
                &copy; Copyright @System.DateTime.Now.Year <a href="https://marstonholdings.co.uk/">Marston Holdings</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>    

</body>
</html>
