﻿@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>
@if (ViewBag.ErrMessage != null)
{
    <p class="text-danger">Details:<br />@ViewBag.ErrMessage</p>
}
else
{
    <h2 class="text-danger">An error occurred while processing your request. If this error persists, please consult system administrator for further assistance.</h2>
}


