﻿@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Support Manager";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row mb-2">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>System Error Log</h2>
            <p class="lead">Download system error log</p>
            <p><a href="~/Support/SystemErrorLog" class="btn btn-info btn-lg">Download &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>System Event Log</h2>
            <p class="lead">View system event log</p>
            <p><a href="~/Support/SystemEventLog" class="btn btn-info btn-lg">View &raquo;</a></p>
        </div>
    </div>
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
    {
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>SQL Error Log</h2>
                <p class="lead">View Columbus Sql error log</p>
                <p><a href="~/Support/SqlErrorLog" class="btn btn-info btn-lg">View &raquo;</a></p>
            </div>
        </div>
    }
    </div>
