﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.SESearchPrms<SQLError>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SQL Error Log";

}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("SQLErrorLog", "Support", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">
            <div class="col-md-5">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DBConnectionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DBConnectionId, Model.DBConnections.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }).ToList(), new { @class = "form-control form-control-sm", @name = "DBConnectionId" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "FromDate", @Value = Model.FromDate.HasValue ? Model.FromDate.Value.ToString("yyyy-MM-dd") : null } })
                    </div>
                </div>
            </div>



        </div>

        <div class="row mb-1">
            <div class="col-md-5">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm", @name = "SearchString" } })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "ToDate", @Value = Model.ToDate.HasValue ? Model.ToDate.Value.ToString("yyyy-MM-dd") : null } })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm", @name = "PageSize" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="col-md-auto">
                        <input type="submit" value="Search" class="btn badge-info" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="float:right;  margin-top:20px">
        @Html.PagedListPager(Model.Results, page => Url.Action("SQLErrorLog", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, dbConnectionId = Model.DBConnectionId}))
    </div>
}



<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tableFTTP">
        <tr>
            <th>
                SP Name
            </th>
            <th>
                Line No.
            </th>
            <th>
                Error Description
            </th>
            <th>
                Executed On
            </th>
            <th>
                Error No.
            </th>
            <th>
                Severity
            </th>
            <th>
                State
            </th>
        </tr>

        @foreach (var item in Model.Results)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorProcedure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
        </tr>
        }

    </table>
</div>

<div style="margin-top:20px">
    Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

    @Html.PagedListPager(Model.Results, page => Url.Action("SQLErrorLog", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, dbConnectionId = Model.DBConnectionId }))

</div>


<script type="text/javascript">
        $(function () {
            $("#PageSize").change(function () {
                $("#form1").submit();
            });
        });

</script>

