﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.ELSearchPrms<EventLog>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "System Event Log";

}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("SystemEventLog", "Support", FormMethod.Get, new { id = "form1" }))
{
<div class="form-horizontal">
    <div class="row mb-1">
        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.UserId, Model.Users, "Select an user ...", new { @class = "form-control form-control-sm", @name = "UserId" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "FromDate", @Value = Model.FromDate.HasValue ? Model.FromDate.Value.ToString("yyyy-MM-dd") : null } })
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.EventTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.EventTypeId, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumDataFileScreen)), "Select an event type...", new { @class = "form-control form-control-sm", @name = "EventTypeId" })
                </div>
            </div>
        </div>



    </div>

    <div class="row mb-1">
        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm", @name = "SearchString" } })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "ToDate", @Value = Model.ToDate.HasValue ? Model.ToDate.Value.ToString("yyyy-MM-dd") : null } })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline">
                @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm", @name = "PageSize" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-8">
            <div class="form-inline">
                <div class="col-md-auto">
                    <input type="submit" value="Search" class="btn badge-info" />
                </div>
            </div>
        </div>

    </div>
</div>

<div style="float:right;  margin-top:20px">
    @Html.PagedListPager(Model.Results, page => Url.Action("SystemEventLog", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, eventTypeId = Model.EventTypeId, userId = Model.UserId }))
</div>
}



    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover table-condensed tableFTTP">
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    IP Address
                </th>
                <th>
                    File Template
                </th>
                <th>
                    Action
                </th>
                <th>
                    Input File
                </th>
                <th>
                    Started On
                </th>
                <th>
                    Ended On
                </th>
                <th>
                    Succeeded
                </th>
                <th>
                    Note
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IPAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileTemplate.Name)
                    </td>
                    <td>
                        @(((Mgl.DataValidator.Models.EnumDataFileScreen)item.Action).GetDisplayName())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessStartedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessEndedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Succeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                </tr>
            }

        </table>
    </div>

    <div style="margin-top:20px">
        Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

        @Html.PagedListPager(Model.Results, page => Url.Action("SystemEventLog", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, eventTypeId = Model.EventTypeId, userId = Model.UserId }))

    </div>


    <script type="text/javascript">
        $(function () {
            $("#PageSize").change(function () {
                $("#form1").submit();
            });
        });

    </script>

