﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.AggregateExpression, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsComputeAggregateFunction.AggregateExpression)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.TotalFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsComputeAggregateFunction.TotalFieldName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.Filter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsComputeAggregateFunction.Filter)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.VariableName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsComputeAggregateFunction.VariableName)
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.AggregateExpression, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsComputeAggregateFunction.AggregateExpression, new { @class = "form-control form-control-sm", cols = 40, rows = 4 })
                        <a href="https://docs.microsoft.com/en-us/dotnet/api/system.data.datatable.compute?view=netcore-3.1" target="_blank">
                            <img src="~/Content/Images/help_small.png">
                        </a>
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsComputeAggregateFunction.AggregateExpression, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.Filter, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsComputeAggregateFunction.Filter, new { @class = "form-control form-control-sm", cols = 40, rows = 4 })
                        <a href="https://www.csharp-examples.net/dataview-rowfilter/" target="_blank">
                            <img src="~/Content/Images/help_small.png">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.TotalFieldName, new { @class = "badge cust-badge-light col-md-3" })

                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsComputeAggregateFunction.TotalFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsComputeAggregateFunction.VariableName, new { @class = "badge cust-badge-light col-md-3" })

                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsComputeAggregateFunction.VariableName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

    </div>
}


