﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ListItemColName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap:break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ListItemColName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OutputFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.OutputFieldName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubNodesColNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap:break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubNodesColNames)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.FieldSeparator, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.DisplayFieldSeparator)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.HideInputField, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.HideInputField ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ClearInputFields, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.ClearInputFields ? "Yes" : "No")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.RegularExpressionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.RegexsListItems.Where(x => x.Value == Model.DTAction.PrmsConcatenateXMLListItemsDFs.RegularExpressionId.ToString()).FirstOrDefault().Text)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.IncludeFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.IncludeFieldName ? "Yes" : "No")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SplitOutputString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.SplitOutputString ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.DCPostDT, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.DCPostDT ? "Yes" : "No")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubStrMaxLength, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubStrMaxLength)
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.Filter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.Filter)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OverwriteOutputField, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.OverwriteOutputField ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.UsePColName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsConcatenateXMLListItemsDFs.UsePColName ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ListItemColName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ListItemColName, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ListItemColName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OutputFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OutputFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OutputFieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubNodesColNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubNodesColNames, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubNodesColNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.FieldSeparator, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.FieldSeparator, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.FieldSeparator, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.HideInputField, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.HideInputField, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ClearInputFields, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.ClearInputFields, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.RegularExpressionId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.RegularExpressionId, Model.RegexsListItems, "-Select Regex", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.RegularExpressionId, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.IncludeFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.IncludeFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SplitOutputString, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SplitOutputString, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.DCPostDT, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.DCPostDT, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubStrMaxLength, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.SubStrMaxLength, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.Filter, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.Filter, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OverwriteOutputField, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.OverwriteOutputField, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.UsePColName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsConcatenateXMLListItemsDFs.UsePColName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Input Field Names should consist multi-nodes DFs which part/all the attributes of a data object. i.e LetterRef,LetterType,LetterCreated,LetterPrinted. Each one is an element of the data object Letter
                    </div>
                </div>
            </div>

        </div>
    </div>
}


