﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.FieldValues, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeSelectedRows.FieldValues)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.Scheme, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeSelectedRows.Scheme)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.ExclusionReasons, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeSelectedRows.ExclusionReasons)
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.FieldValues, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsExcludeSelectedRows.FieldValues, new { @class = "form-control form-control-sm", cols = 40, rows = 4 })
                        <a href="https://www.csharp-examples.net/dataview-rowfilter/" target="_blank">
                            <img src="~/Content/Images/help_small.png">
                        </a>
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExcludeSelectedRows.FieldValues, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.Scheme, new { @class = "badge cust-badge-light col-md-3" })

                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsExcludeSelectedRows.Scheme, new { @class = "form-control form-control-sm", cols = 40, rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExcludeSelectedRows.Scheme, " * ", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeSelectedRows.ExclusionReasons, new { @class = "badge cust-badge-light col-md-3" })

                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsExcludeSelectedRows.ExclusionReasons, new { @class = "form-control form-control-sm", cols = 40, rows = 4 })

                    </div>
                </div>
            </div>

        </div>


        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Use the tag {OFN} in Scheme Names to render scheme name with original file name.
                    </div>
                </div>
            </div>

        </div>

    </div>
}


