﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.InputColumnNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.InputColumnNames)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.CheckMatchedRows, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.CheckMatchedRows.ToString())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.KeepInvalidRow, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.KeepInvalidRow.ToString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FromColumn, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FromColumn)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ToColumn, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ToColumn)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.Filter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.Filter)
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId.HasValue ? string.Empty : Model.RefLists.Where(x => x.Value == (Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId.Value.ToString())).FirstOrDefault().Text)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix)
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ExclusionReason, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix)
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.InputColumnNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.InputColumnNames, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.InputColumnNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Input Column Names supports wildcard character * with a prefix.
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.CheckMatchedRows, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.CheckMatchedRows, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.KeepInvalidRow, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.KeepInvalidRow, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FromColumn, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FromColumn, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ToColumn, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ToColumn, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.Filter, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.Filter, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId, Model.RefLists, "-Select A Reference List", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ReferenceListId, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.FNPrefix, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ExclusionReason, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeRowsNotMatchReferenceList.ExclusionReason, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

    </div>
}



