﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.ColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsGetTotalOfAColumn.ColumnName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.TotalFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsGetTotalOfAColumn.TotalFieldName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.DataSourceFileId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsGetTotalOfAColumn.DTSourceFile.ToString())
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.ColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsGetTotalOfAColumn.ColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsGetTotalOfAColumn.ColumnName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.TotalFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsGetTotalOfAColumn.TotalFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsGetTotalOfAColumn.TotalFieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetTotalOfAColumn.DataSourceFileId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsGetTotalOfAColumn.DataSourceFileId, EnumHelper.GetSelectList(typeof(EnumDTSourceFile)), "-Select-", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsGetTotalOfAColumn.DataSourceFileId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">

                </div>
            </div>
        </div>

    </div>
}



