﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models


<div class="form-horizontal">

    @if (Model.IsDetails)
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.GetMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(((EnumValidationMethod)Model.DTAction.PrmsGetDataFromDB.GetMethodId).ToString())
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsGetDataFromDB.CmdText != null ? Model.DTAction.PrmsExcludeCasesAI.CmdText.Name : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.ExcludeNotFound, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsGetDataFromDB.ExcludeNotFound ? "Yes" : "No")
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsGetDataFromDB.StoredProcedure != null ? Model.DTAction.PrmsGetDataFromDB.StoredProcedure.SPName : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.FieldsToPopulate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8" style="word-wrap:break-word;">
                        @Html.DisplayTextFor(model => model.DTAction.PrmsGetDataFromDB.FieldsToPopulate)
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.GetMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsGetDataFromDB.GetMethodId, EnumHelper.GetSelectList(typeof(EnumValidationMethod)), "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsGetDataFromDB.CmdTextId, Model.CTListItems, "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.ExcludeNotFound, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsGetDataFromDB.ExcludeNotFound, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsGetDataFromDB.StoredProcedureId, Model.SelectSPs, "-Select-", new { @class = "form-control form-control-sm" })
                        <input type="button" value="..." class="btn badge-info" id="btnEditSP" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGetDataFromDB.FieldsToPopulate, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsGetDataFromDB.FieldsToPopulate, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsGetDataFromDB.FieldsToPopulate, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    }



</div>

<script language="javascript" type="text/javascript">

            $("#btnEditSP").click(function () {
                if ($('#DTAction_PrmsGetDataFromDB_StoredProcedureId').val() == null || $('#DTAction_PrmsGetDataFromDB_StoredProcedureId').val() == '') {
                    $('.dlgWarning-body').text("Please select a stored procedure and try again.");
                $('#dlgWarning').modal('show');
                return false;
            }

            var url = '@Url.Action("Edit", "StoredProcedure", new { id = "__id__" }, Request.Url.Scheme)';
                window.location.href = url.replace('__id__', $('#DTAction_PrmsGetDataFromDB_StoredProcedureId').val());
        });

</script>