﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.DTASearchPrms<DTAction>
@using PagedList.Mvc;
@using PagedList;

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                Action Name
            </th>
            <th>
                DT Action Types
            </th>
            <th>
                Referenced By
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var dtAction in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dtAction.ActionName)
                </td>
                <td>
                    @dtAction.DTActionTypeName.GetDisplayName()
                </td>
                <td>
                    @Html.Raw(dtAction.AssociatedFileTemplate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = dtAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Details", "Details", new { id = dtAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Clone", "Clone", new { id = dtAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = dtAction.Id }, new { @onclick = "return DeleteDTAction(" + dtAction.Id + ");", @class = "badge badge-pill badge-info" })
                </td>
            </tr>
        }

    </table>
</div>
