﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsAddProcessInfo.FieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsAddProcessInfo.FieldName)                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsAddProcessInfo.ProcessInfoId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Model.DTAction.PrmsAddProcessInfo.ProcessInfo
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsAddProcessInfo.ProcessInfoId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsAddProcessInfo.ProcessInfoId, EnumHelper.GetSelectList(typeof(EnumDTInfoType)), "-Select DT Info-", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsAddProcessInfo.ProcessInfoId, "*", new { @class = "text-danger" })
                    </div>
                </div>               
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsAddProcessInfo.FieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsAddProcessInfo.FieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsAddProcessInfo.FieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
        </div>
    </div>
}


