﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models


<div class="form-horizontal">

    @if (Model.IsDetails)
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.ValidationMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(((EnumValidationMethod)Model.DTAction.PrmsExcludeCasesAI.ValidationMethodId).ToString())
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsExcludeCasesAI.CmdText != null ? Model.DTAction.PrmsExcludeCasesAI.CmdText.Name : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.OFPrefix, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(string.IsNullOrEmpty(Model.DTAction.PrmsExcludeCasesAI.OFPrefix) ? "N/A" : Model.DTAction.PrmsExcludeCasesAI.OFPrefix)
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsExcludeCasesAI.StoredProcedure != null ? Model.DTAction.PrmsExcludeCasesAI.StoredProcedure.SPName : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.EFPrefix, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(string.IsNullOrEmpty(Model.DTAction.PrmsExcludeCasesAI.EFPrefix) ? "N/A" : Model.DTAction.PrmsExcludeCasesAI.EFPrefix)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.ExMessage, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(string.IsNullOrEmpty(Model.DTAction.PrmsExcludeCasesAI.ExMessage) ? "N/A" : Model.DTAction.PrmsExcludeCasesAI.ExMessage)
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.CaseRefColName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(string.IsNullOrEmpty(Model.DTAction.PrmsExcludeCasesAI.CaseRefColName) ? "N/A" : Model.DTAction.PrmsExcludeCasesAI.CaseRefColName)
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.ValidationMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsExcludeCasesAI.ValidationMethodId, EnumHelper.GetSelectList(typeof(EnumValidationMethod)), "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsExcludeCasesAI.CmdTextId, Model.CTListItems, "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.OFPrefix, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeCasesAI.OFPrefix, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsExcludeCasesAI.StoredProcedureId, Model.SelectSPs, "-Select-", new { @class = "form-control form-control-sm" })
                        <input type="button" value="..." class="btn badge-info" id="btnEditSP" />


                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.EFPrefix, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeCasesAI.EFPrefix, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.ExMessage, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeCasesAI.ExMessage, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExcludeCasesAI.CaseRefColName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExcludeCasesAI.CaseRefColName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>


        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Use tag name {OFN} in Output File Prefix and Exception File Prefix to render the prefix with original file name.
                        <br />
                        Use tag name {LineNumber} in Exception Message to render the message with the data row line number.
                    </div>
                </div>
            </div>
        </div>
    }


</div>

<script language="javascript" type="text/javascript">

            $("#btnEditSP").click(function () {
                if ($('#DTAction_PrmsExcludeCasesAI_StoredProcedureId').val() == null || $('#DTAction_PrmsExcludeCasesAI_StoredProcedureId').val() == '')
                {
                    $('.dlgWarning-body').text("Please select a stored procedure and try again.");
                    $('#dlgWarning').modal('show');
                    return false;
                }

                var url = '@Url.Action("Edit", "StoredProcedure", new { id = "__id__" }, Request.Url.Scheme)';
                    window.location.href = url.replace('__id__', $('#DTAction_PrmsExcludeCasesAI_StoredProcedureId').val());
            });



</script>