﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.GBFieldNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.GBFieldNames)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.FilterFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.FilterFieldName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ThresholdValue, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Raw(Model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ThresholdValue.ToString())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.CompOpId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(@Model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ComparisonOperator.GetDisplayName())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.SchemeName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.SchemeName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.IncludeSingleCases, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.IncludeSingleCases ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="form-horizontal">

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.GBFieldNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.GBFieldNames, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.GBFieldNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.FilterFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.FilterFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.FilterFieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ThresholdValue, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ThresholdValue, new { HtmlAttributes = new { @class = "form-control form-control-sm", cols = 40, rows = 4 } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.ThresholdValue, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.CompOpId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.CompOpId, EnumHelper.GetSelectList(typeof(EnumComparisonOperator)), "-Select Comp. Operator-", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.CompOpId, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.SchemeName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.SchemeName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.SchemeName, " *", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.IncludeSingleCases, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.IncludeSingleCases, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.DBValueColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsExtractLinkedCasesAfterGroupBy.DBValueColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>


        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Use the tag {OFN} in Scheme Name to render scheme name with original file name.
                    </div>
                </div>
            </div>

        </div>

    </div>
}
