﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsGroupBy.FieldNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsGroupBy.FieldNames)
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsGroupBy.FieldNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsGroupBy.FieldNames, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsGroupBy.FieldNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}