﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.DebtFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsMergeDebts.DebtFieldName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.TotalFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsMergeDebts.TotalFieldName)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.GroupByName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsMergeDebts.GroupByName)
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.DebtFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsMergeDebts.DebtFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsMergeDebts.DebtFieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.TotalFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsMergeDebts.TotalFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsMergeDebts.TotalFieldName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsMergeDebts.GroupByName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsMergeDebts.GroupByName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
}








