﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsNCTransformDefaultersAddresses.StringSeparator, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsNCTransformDefaultersAddresses.StringSeparator)
                </div>
            </div>
        </div>
    </div>


}
else
{
    <div class="form-horizontal">

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsNCTransformDefaultersAddresses.StringSeparator, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsNCTransformDefaultersAddresses.StringSeparator, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsNCTransformDefaultersAddresses.StringSeparator, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

    </div>
}



