﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.InputColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitNameColumnIntoThree.InputColumnName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.OutputColumnNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.OutputColumnNames)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.ImplementInDTStage, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitNameColumnIntoThree.ImplementInDTStage ? "Yes" : "No")
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.InputColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.InputColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.InputColumnName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.OutputColumnNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.OutputColumnNames, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.OutputColumnNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.ImplementInDTStage, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsSplitNameColumnIntoThree.ImplementInDTStage, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

    </div>
}



