﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.GroupByColumnNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap:break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.GroupByColumnNames)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.FieldRequiresUniqueValue, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.FieldRequiresUniqueValue)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.OrderByColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.OrderByColumnName)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Separator, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Separator)
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Filter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Filter)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.ReplaceOriginalVal, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(((EnumUniqueValueType)Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.UniqueValueType).ToString())
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.ReplaceOriginalVal, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.ReplaceOriginalVal ? "Yes" : "No")
                </div>
            </div>
        </div>

    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.GroupByColumnNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.GroupByColumnNames, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.GroupByColumnNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.FieldRequiresUniqueValue, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.FieldRequiresUniqueValue, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.FieldRequiresUniqueValue, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.OrderByColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.OrderByColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Separator, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Separator, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Filter, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.Filter, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.UniqueValueType, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.UniqueValueType, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumUniqueValueType)), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.ReplaceOriginalVal, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsSetDuplicatedRowsWithUniqueValues.ReplaceOriginalVal, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>

    </div>
}


