﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.InputColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitFullAddressColIntoSepLines.InputColumnName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.AddLineColNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.AddLineColNames)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.PostcodeColName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitFullAddressColIntoSepLines.PostcodeColName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.RegularExpressionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.RegexsListItems.Where(x => x.Value == Model.DTAction.PrmsSplitFullAddressColIntoSepLines.RegularExpressionId.ToString()).FirstOrDefault().Text)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.StringSeparator, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitFullAddressColIntoSepLines.StringSeparator)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.ReferenceListId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.DTAction.PrmsSplitFullAddressColIntoSepLines.ReferenceListId.HasValue ? string.Empty : Model.RefLists.Where(x => x.Value == (Model.DTAction.PrmsSplitFullAddressColIntoSepLines.ReferenceListId.Value.ToString())).FirstOrDefault().Text)
                </div>
            </div>
        </div>


    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.Filter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.Filter)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.LMProcessingLevel, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.LMProcessingLevel)
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.InputColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.InputColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.InputColumnName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.AddLineColNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.AddLineColNames, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.AddLineColNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.PostcodeColName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.PostcodeColName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.PostcodeColName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.RegularExpressionId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.RegularExpressionId, Model.RegexsListItems, "-Select Regex", new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.RegularExpressionId, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.StringSeparator, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.StringSeparator, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.StringSeparator, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.ReferenceListId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.ReferenceListId, Model.RefLists, "-Select Location Matrix", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.Filter, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.Filter, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.LMProcessingLevel, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsSplitFullAddressColIntoSepLines.LMProcessingLevel, Model.LMPLListItems, "-Select LMPL", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}



