﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.GroupingFields, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.GroupingFields)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixField, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixField)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixFollowedBy, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixFollowedBy)
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="form-horizontal">

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.GroupingFields, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.GroupingFields, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.GroupingFields, " *", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixField, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixField, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixField, " *", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixFollowedBy, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsSplitOutputAfterGrouping.FNPrefixFollowedBy, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>

        </div>


        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Use the tag {TS} in Prefix Followed By to render file name with timestamp.
                    </div>
                </div>
            </div>

        </div>

    </div>
}
