﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.TruncatedFieldNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.TruncatedFieldNames)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.MaxFieldLengths, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsTruncateFieldsExceedingMaxLength.MaxFieldLengths)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.FieldSeparator, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsTruncateFieldsExceedingMaxLength.DisplayFieldSeparator)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.NotesFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsTruncateFieldsExceedingMaxLength.NotesFieldName)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.IncludeFieldName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsTruncateFieldsExceedingMaxLength.IncludeFieldName ? "Yes" : "No")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.OverwriteNotesField, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.PrmsTruncateFieldsExceedingMaxLength.OverwriteNotesField ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.Filters, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.Filters)
                </div>
            </div>
        </div>

    </div>

}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.TruncatedFieldNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.TruncatedFieldNames, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.TruncatedFieldNames, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.MaxFieldLengths, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.MaxFieldLengths, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.MaxFieldLengths, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.FieldSeparator, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.FieldSeparator, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.FieldSeparator, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.NotesFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.NotesFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.IncludeFieldName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.IncludeFieldName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.OverwriteNotesField, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.OverwriteNotesField, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.Filters, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsTruncateFieldsExceedingMaxLength.Filters, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>

    </div>
}


