﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models


<div class="form-horizontal">

    @if (Model.IsDetails)
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.GetMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(((EnumValidationMethod)Model.DTAction.PrmsXMappingDataFromDB.GetMethodId).ToString())
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsXMappingDataFromDB.CmdText != null ? Model.DTAction.PrmsXMappingDataFromDB.CmdText.Name : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.ExcludeNotFound, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsXMappingDataFromDB.ExcludeNotFound ? "Yes" : "No")
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.PrmsXMappingDataFromDB.StoredProcedure != null ? Model.DTAction.PrmsXMappingDataFromDB.StoredProcedure.SPName : "N/A")
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.FieldsToPopulate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-8" style="word-wrap:break-word;">
                        @Html.DisplayTextFor(model => model.DTAction.PrmsXMappingDataFromDB.FieldsToPopulate)
                    </div>
                </div>
            </div>

        </div>




    }
    else
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.GetMethodId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsXMappingDataFromDB.GetMethodId, EnumHelper.GetSelectList(typeof(EnumValidationMethod)), "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.CmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsXMappingDataFromDB.CmdTextId, Model.CTListItems, "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.ExcludeNotFound, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.DTAction.PrmsXMappingDataFromDB.ExcludeNotFound, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.StoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DTAction.PrmsXMappingDataFromDB.StoredProcedureId, Model.SelectSPs, "-Select-", new { @class = "form-control form-control-sm" })
                        <input type="button" value="..." class="btn badge-info" id="btnEditSP" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.MappingColumn, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsXMappingDataFromDB.MappingColumn, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsXMappingDataFromDB.MappingColumn, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DTAction.PrmsXMappingDataFromDB.FieldsToPopulate, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.DTAction.PrmsXMappingDataFromDB.FieldsToPopulate, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.DTAction.PrmsXMappingDataFromDB.FieldsToPopulate, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    }


</div>

<script language="javascript" type="text/javascript">

            $("#btnEditSP").click(function () {
                if ($('#DTAction_PrmsXMappingDataFromDB_StoredProcedureId').val() == null || $('#DTAction_PrmsXMappingDataFromDB_StoredProcedureId').val() == '') {
                    $('.dlgWarning-body').text("Please select a stored procedure and try again.");
                    $('#dlgWarning').modal('show');
                    return false;
                }

                var url = '@Url.Action("Edit", "StoredProcedure", new { id = "__id__" }, Request.Url.Scheme)';
                    window.location.href = url.replace('__id__', $('#DTAction_PrmsXMappingDataFromDB_StoredProcedureId').val());
            });

</script>