﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel

@{
    ViewBag.Title = "DT Action Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />

<div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.ActionName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.ActionName)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.DTActionTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Model.DTAction.DTActionTypeName.GetDisplayName()
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("_" + Model.DTAction.DTActionType.ToString(), Model)

    <br />

    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.Label("Created By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.User.UserId)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.Label("Date Created", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.DateCreated.ToString("dd/MM/yyyy"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.Label("Updated By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.User1.UserId)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.Label("Date Updated", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.Label(Model.DTAction.DateUpdated.ToString("dd/MM/yyyy"))
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DTAction.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back", null, null, new { @class = "btn badge-info", @href = Request.UrlReferrer == null ? new Uri(Request.Url.Authority + "/DTAction") : Request.UrlReferrer })
</p>
