﻿@model Mgl.DataValidator.ViewModel.DTActionViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Edit DT Action";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DTAction.Id)
    @Html.Hidden("UrlRef", ((Request.UrlReferrer != null) ? Request.UrlReferrer : new Uri(Request.Url.Authority + "/DTAction")))

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.ActionName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.DTAction.ActionName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.DTAction.ActionName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.DTAction.DTActionTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.DTAction.DTActionTypeId, EnumHelper.GetSelectList(typeof(EnumDTActionType)).OrderBy(x => x.Text).ToList(), "-Select-", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.DTAction.DTActionTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="DTActionParam">
    </div>

    <hr />
    <div class="form-inline">
        <div class="col-md-offset-2">
            <input type="submit" value="Save" class="btn badge-info" />
            @Html.ActionLink("Clone", "Clone", null, new { id = Model.DTAction.Id }, new { @class = "btn badge-info" })
            @Html.ActionLink("Back", null, null, null, new { @class = "btn badge-info", @href = ((Request.UrlReferrer == null) ? new Uri(Request.Url.Authority + "/DTAction/") : Request.UrlReferrer) })
        </div>
    </div>
</div>

<br />

<div class="form-horizontal">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Created By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.User.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Created", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.DateCreated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Updated By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.User1.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Updated", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.DTAction.DateUpdated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>



</div>
}



<script>

    function GetDTActionType() {
        $('.DTActionParam').html('');
         var dtActionTypeId = $('#DTAction_DTActionTypeId').val();
         var dtActionId = $('#DTAction_Id').val();

        if (dtActionTypeId != null && dtActionTypeId != '') {            

            $.ajax({
                url: '@Url.Action("GetDTActionParam", "DTAction", null, Request.Url.Scheme)',
                type: 'POST',
                dataType: 'html',
                data:
                {
                    dtActionTypeId: dtActionTypeId,
                    dtActionId: dtActionId
                },
                success: function (data) {
                    $('.DTActionParam').html(data);
                },
                error: function (xhr, status, errorThrown) {
                    
                }
            });
        }
    }

    $('#DTAction_DTActionTypeId').change(function () {

        GetDTActionType();
    });

    $(document).ready(function () {
        GetDTActionType();
    });

</script>