﻿@model Mgl.DataValidator.ViewModel.StoredProcedureViewModel

@{
    ViewBag.Title = "Add Stored Procedure";
    
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.StoredProcedure.SPName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.StoredProcedure.SPName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.StoredProcedure.SPName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.StoredProcedure.Params, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.StoredProcedure.Params, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.StoredProcedure.Params, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.StoredProcedure.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.StoredProcedure.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                        
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.StoredProcedure.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.StoredProcedure.DBConnectionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.StoredProcedure.DBConnectionId, Model.DBConnectionListItems, "-Select Connection-", new { @class = "form-control form-control-sm" })
                       
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.StoredProcedure.DBConnectionId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.StoredProcedure.SPType, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.StoredProcedure.SPType, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumSPType)), "-Select SPType-", new { @class = "form-control form-control-sm" })
                        
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.StoredProcedure.SPType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="submit" value="Create" class="btn badge-info" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

