﻿@model Mgl.DataValidator.ViewModel.StoredProcedureViewModel

@{
    ViewBag.Title = "Stored Procedure Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.StoredProcedure.SPName, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.StoredProcedure.SPName)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.StoredProcedure.Description, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.StoredProcedure.DescriptionDisplay)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.StoredProcedure.Params, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.StoredProcedure.Params ?? string.Empty)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.StoredProcedure.DBConnectionId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.StoredProcedure.DbConnection.Name)
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoredProcedure.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
</p>
