﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.SPSearchPrms<StoredProcedure>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Stored Procedures";

}
<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;"></div>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Index", "StoredProcedure", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">

            <div class="col-md-8">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm", @name = "SearchString" } })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SPTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.SPTypeId, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumSPType)), "Select a SP type...", new { @class = "form-control form-control-sm", @name = "SPTypeId" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">

            <div class="col-md-8">
                <div class="form-inline">
                    @Html.LabelFor(model => model.DBConnectionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.DBConnectionId, Model.DBConnections, "Select a db connection ...", new { @class = "form-control form-control-sm", @name = "DBConnectionId" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm", @name = "PageSize" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-8">
                <div class="form-inline">
                    <div class="col-md-auto">
                        <input type="submit" value="Search" class="btn badge-info" />
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr />
    <div style="float:right;">
        @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, dbConnectionId = Model.DBConnectionId, spTypeId = Model.SPTypeId }))
    </div>
}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover table-condensed">
            <tr>
                <th>
                    SP Name
                </th>
                <th>
                    DB Connection
                </th>
                <th>
                    Associated FTs/DTActions
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SPName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DbConnection.Name)
                    </td>
                    <td>
                        @Html.Raw(item.AssociatedFileTemplates)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })*@
                    </td>
                </tr>
            }
        </table>
    </div>

    <div style="margin-top:20px">
        Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

        @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, dbConnectionId = Model.DBConnectionId, spTypeId = Model.SPTypeId }))

    </div>

<script type="text/javascript">
    $(function () {
        $("#PageSize").change(function () {
            $("#form1").submit();
        });
    });

</script>

