﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF;      
   }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #2eabd0;
}

a:hover {
    text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: inline-block;
    height: 0;
    overflow-y: hidden;    
}

.tab-pane{
    width: 100%;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.navbar-toggler-icon {
    width: inherit;
    height: inherit;
}


.btn {
    margin-right: 5px;
    padding: inherit;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #F5F5F5;
    font-weight: bold;
}

.jumbotron {
    background-color: #F5F5F5;
}

.cust-bg-light {
    background-color: #F5F5F5;
}

.cust-badge-light {
    background-color: #F5F5F5;
    color: black;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}
