﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.DEAuditSearchPrms<DEARBase>

<table class="table table-sm table-striped table-hover table-condensed tableFTTP">
    <tr>
        <th colspan="3">
            Imported Cases Total: @Model.CasesImported.ToString()
        </th>
        <th colspan="3">
            Appending Cases Total: @Model.CasesNotImported.ToString()
        </th>
        <th colspan="3">
            Import Errors Total: @Model.CasesWithError.ToString()
        </th>
    </tr>
</table>

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tableFTTP">
        <tr>
            <th>
                Case Number
            </th>
            <th>
                Case Id
            </th>
            <th>
                Defendant Name
            </th>
            <th>
                Client
            </th>
            <th>
                Batch Date
            </th>
            <th>
                Created By
            </th>
            <th>
                Imported
            </th>
            <th>
                Imported On
            </th>
            <th>
                Error
            </th>
        </tr>

        @foreach (DEHMCTSAR item in Model.Results)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @item.FirstName &nbsp; @item.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @item.Imported.ToYesNo()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorMessage)
            </td>
        </tr>
        }

    </table>
</div>
