﻿@model Mgl.DataValidator.Models.FileTemplate
@using Mgl.DataValidator.Models

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Pre-Set Data Fields </legend>
    @foreach (var df in Model.ParameterizedDataFields)
    {
        <div class="row mb-2 col-md-12">
            <div class="col-md-12">
                <div class="form-inline">
                    @Html.Label(df.Name, new { @class = "badge cust-badge-light col-md-auto" })
                    <div class="col-md-auto">
                        <input @df.ParamInputType id="@df.Name" name="@df.Name" class="form-control form-control-sm" value="@df.PresetValue">
                        @if (df.IsMandatory)
                        {
                            <a class="font-weight-bold" style="color:red">*</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</fieldset>