﻿@model Mgl.DataValidator.Models.DEOHmcts
@using Mgl.DataValidator.Models
@using System
@using System.Web


@using (Html.BeginForm(Model.DEId.HasValue? "Edit":"Create", "DataEntry", FormMethod.Post, new { enctype = "multipart/form-data", id = "Form1" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>HMCTS Breach </h2>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger", id = "vsSummary" })

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Case Details </legend>
            <div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.DropDownListFor(model => model.RegionId, Model.RegionsList.ToArray(), "---Select a region--", new { @class = "form-control form-control-sm", @tabindex = 1, autocomplete = "off" })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.DropDownListFor(model => model.ClientId, Model.ClientsList.ToArray(), "---Select a client--", new { @class = "form-control form-control-sm", @tabindex = 2, autocomplete = "off" })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.IssuingCourt, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.DropDownListFor(model => model.IssuingCourt, DEOHmcts.IssuingCourtsDDL, "--Select a court--", new { @class = "form-control form-control-sm", @tabindex = 3, autocomplete = "off" })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 15, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.SittingCourt, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.DropDownListFor(model => model.SittingCourt, DEOHmcts.SittingCourtsDDL, "---Select a court--", new { @class = "form-control form-control-sm", @tabindex = 4, autocomplete = "off" })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 16, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.DateOfOrder, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.DateOfOrder, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm date-picker", @name = "DateOfOrder", @Value = Model.DateOfOrder > DateTime.MinValue && Model.DateOfOrder != null ? Model.DateOfOrder.ToString("dd/MM/yyyy") : null, @tabindex = 5, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.AddressLine3, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.AddressLine3, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 17, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.DateReceived, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.DateReceived, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm date-picker", @name = "DateReceived", @Value = Model.DateReceived > DateTime.MinValue && Model.DateReceived != null ? Model.DateReceived.ToString("dd/MM/yyyy") : null, @tabindex = 6, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.AddressLine4, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.AddressLine4, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 18, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.CaseNumber, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.CaseNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 7, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 19, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 8, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly", @tabindex = 20, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 9, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Telephone1, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Telephone1, new { htmlAttributes = new { @class = "form-control form-control-sm telephone", @maxlength = 11, @tabindex = 21, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 10, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Telephone2, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Telephone2, new { htmlAttributes = new { @class = "form-control form-control-sm telephone", @maxlength = 11, @tabindex = 22, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm date-picker", @name = "DateOfBirth", @Value = Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd/MM/yyyy") : null, @tabindex = 11, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Telephone3, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Telephone3, new { htmlAttributes = new { @class = "form-control form-control-sm telephone", @maxlength = 11, @tabindex = 23, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.NINumber, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.NINumber, new { htmlAttributes = new { @class = "form-control form-control-sm", @maxlength = 13, @tabindex = 12, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Telephone4, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Telephone4, new { htmlAttributes = new { @class = "form-control form-control-sm telephone", @maxlength = 11, @tabindex = 24, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.KnownAlias, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.KnownAlias, new { htmlAttributes = new { @class = "form-control form-control-sm", @tabindex = 13, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-inline">
                            @Html.LabelFor(model => model.Telephone5, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.Telephone5, new { htmlAttributes = new { @class = "form-control form-control-sm telephone", @maxlength = 11, @tabindex = 25, autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-6">
                        <div id="divBailDate" style="display:none" class="form-inline">
                            @Html.LabelFor(model => model.BailDate, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                            <div class="col-md-auto">
                                @Html.EditorFor(model => model.BailDate, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm bd-date-picker", @name = "BailDate", @Value = Model.BailDate.HasValue ? Model.BailDate.Value.ToString("dd/MM/yyyy") : null, @tabindex = 14, autocomplete = "off" } })
                                <span class=" font-weight-bold " style="color:red">*</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">

                        @Html.LabelFor(model => model.Matter, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Matter, new { @style = "min-width: 100%", @class = "form-control form-control-sm", @cols = 10, @rows = 11, @maxlength = "800", @tabindex = 26, autocomplete = "off" })
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
        @Html.HiddenFor(model => model.FileTemplateId)
        @Html.HiddenFor(model => model.OffenceCodes)
        @Html.HiddenFor(model => model.ClientName)
        @Html.HiddenFor(model => model.DEId)

        <div id="divHealthNSafety" style="display:block">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Health &amp; Safety </legend>
                <div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.LabelFor(model => model.PNCId, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                                <div class="col-md-auto">
                                    @Html.EditorFor(model => model.PNCId, new { htmlAttributes = new { @class = "form-control form-control-sm", @maxlength = 50, @tabindex = 27, autocomplete = "off" } })
                                    <span class=" font-weight-bold " style="color:red">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.LabelFor(model => model.DateOfCheck, htmlAttributes: new { @class = "control-label col-md-4 justify-content-end" })
                                <div class="col-md-auto">
                                    @Html.EditorFor(model => model.DateOfCheck, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm date-picker", @name = "DateOfCheck", @Value = Model.DateOfCheck.HasValue ? Model.DateOfCheck.Value.ToString("dd/MM/yyyy") : null, @tabindex = 28, autocomplete = "off" } })
                                    <span class=" font-weight-bold " style="color:red">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table table-responsive">
                        <table class="table table-sm small table-striped table-hover table-condensed dataTable " id="tblec">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Code</th>
                                    <th>Offence Date</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            @if (Model.WarningMakerList.Count > 0)
                            {
                                foreach (var item in Model.WarningMakerList)
                                {
                                    <tr>
                                        <td><input type='checkbox' name='record'></td>
                                        <td>@item.Code</td>
                                        <td>@item.OffenceDate</td>
                                        <td>@item.Description</td>
                                    </tr>
                                }
                            }
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="col-md-auto">
                                    @Html.DropDownListFor(model => model.Code, Model.OffenceCodesList.ToArray(), "---Select a code--", new { @class = "form-control form-control-sm", @tabindex = 29, autocomplete = "off" })
                                </div>
                                <div class="col-md-auto">
                                    @Html.EditorFor(model => model.OffenceDate, new { htmlAttributes = new { @placeholder = "dd/MM/yyyy", @class = "form-control form-control-sm date-picker", @name = "OffenceDate", @Value = Model.DateOfCheck.HasValue ? Model.DateOfCheck.Value.ToString("dd/MM/yyyy") : null, @tabindex = 30, autocomplete = "off" } })
                                </div>
                                <div class="col-md-auto">
                                    <input type="text" id="rwDescription" placeholder="Description" class="form-control form-control-sm" readonly="readonly" tabindex=31>
                                </div>
                                <div class="col-md-auto">
                                    <input type="button" class="btn badge-info add-row" value="Add Row" , tabindex=32>
                                    <button type="button" class="btn badge-info delete-row" tabindex=33>Delete Row</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    @{ List<DEAttachment> attachments = null;
                        if (Model.DEId.HasValue && Model.Parent.DEAttachments.Count>0)
                        {
                            attachments = Model.Parent.DEAttachments.ToList();
                        }

                   }
                    <hr />
                    <div class="row mb-2">
                        <div class="col-md-auto">
                            <h6>Risk Summary </h6>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        @Html.LabelFor(model => model.Public, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                                        <div class="col-md-auto">
                                            @Html.DropDownListFor(model => model.Public, DEOHmcts.RiskLevels.Select(x => new SelectListItem() { Text = x, Value = x }), "---Select a risk level--", new { @class = "form-control form-control-sm", @tabindex = 34, autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        @Html.LabelFor(model => model.EA, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                                        <div class="col-md-auto">
                                            @Html.DropDownListFor(model => model.EA, DEOHmcts.RiskLevels.Select(x => new SelectListItem() { Text = x, Value = x }), "---Select a risk level--", new { @class = "form-control form-control-sm", @tabindex = 35, autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        @Html.LabelFor(model => model.Police, htmlAttributes: new { @class = "control-label col-md-3 justify-content-end" })
                                        <div class="col-md-auto">
                                            @Html.DropDownListFor(model => model.Police, DEOHmcts.RiskLevels.Select(x => new SelectListItem() { Text = x, Value = x }), "---Select a risk level--", new { @class = "form-control form-control-sm", @tabindex = 36, autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-auto">
                            <h6>Attachments </h6>

                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <Label class="control-label col-md-2">Warrant</Label>
                                        <div class="col-md-auto">
                                            <input type="file" name="files" id="files" class="form-control form-control-sm" tabindex=37 />
                                            @if (Model.DEId.HasValue && Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Warrant) != null)
                                            {
                                                <br />
                                                @Html.ActionLink(Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Warrant).OriginalFileName.Remove(0,2), "GetAttachment", new { id = Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Warrant).Id })
                                            }else
                                            {
                                            <span class=" font-weight-bold " style="color:red">*</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <Label class="control-label col-md-2">OAIS</Label>
                                        <div class="col-md-auto">
                                            <input type="file" name="files" id="files" class="form-control form-control-sm" tabindex=38 />
                                            @if (Model.DEId.HasValue && Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.OAIS) != null)
                                            {
                                                <br />
                                                @Html.ActionLink(Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.OAIS).OriginalFileName.Remove(0, 2), "GetAttachment", new { id = Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.OAIS).Id })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <Label class="control-label col-md-2">NOMS</Label>
                                        <div class="col-md-auto">
                                            <input type="file" name="files" id="files" class="form-control form-control-sm" tabindex=39 />
                                            @if (Model.DEId.HasValue && Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.NOMS) != null)
                                            {
                                                <br />
                                                @Html.ActionLink(Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.NOMS).OriginalFileName.Remove(0, 2), "GetAttachment", new { id = Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.NOMS).Id })
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <Label class="control-label col-md-2">Additional Doc.</Label>
                                        <div class="col-md-auto">
                                            <input type="file" name="files" id="files" class="form-control form-control-sm" tabindex=40 />
                                            @if (Model.DEId.HasValue && Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Additional) != null)
                                            {
                                                <br />
                                                @Html.ActionLink(Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Additional).OriginalFileName.Remove(0, 2), "GetAttachment", new { id = Model.GetDEAttachment(DEOHmcts.EnumHMCTSDocCat.Additional).Id })
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>
        </div>
        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="button" value="Save" onclick="SubmitForm();" class="btn badge-info" tabindex=41 />
            </div>
        </div>
    </div>

}


<script type="text/javascript">
    $(document).ready(function ($) {

        $(function () {
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var valid = true;
                    try {
                        $.datepicker.parseDate('dd/mm/yy', value);
                    }
                    catch (err) {
                        valid = false;
                    }
                    return valid;
                });
            $(".date-picker").datepicker({
                dateFormat: 'dd/mm/yy',
                maxDate: 0
            });
            $(".date-picker").mask("99/99/9999");
            $(".bd-date-picker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $(".bd-date-picker").mask("99/99/9999");
        });

        $('.date-picker').blur(function () {
            let value = $(this).val();
            if (value != '__/__/____') {
                let format = $(this).datepicker('option', 'dateFormat');
                try {
                    $.datepicker.parseDate(format, value);
                }
                catch (e) {
                    alert($(this).val() + ' is not a valid date, please try again.');
                    $(this).val('__/__/____');
                    $(this).focus();
                }
            }

            return false;
        });

        $('.bd-date-picker').blur(function () {
            let value = $(this).val();
            if (value != '__/__/____') {
                let format = $(this).datepicker('option', 'dateFormat');
                try {
                    $.datepicker.parseDate(format, value);
                }
                catch (e) {
                    alert($(this).val() + ' is not a valid date, please try again.');
                    $(this).val('__/__/____');
                    $(this).focus();
                }
            }

            return false;
        });

        $('.telephone').blur(function () {
            if (this.value != null && this.value != '')
            {
                var currentId = this.id;
                for (var i = 1; i <= 5; i++) {
                    var nextId = 'Telephone' + i.toString();
                    if (currentId != nextId) {
                        var nextVal = $('#' + nextId).val();
                        if ((nextVal != null && nextVal != '') && this.value.replace(' ', '') == nextVal.replace(' ', '')) {
                            $('.dlgWarning-title').text("Validation Error");
                            $('.dlgWarning-body').text("Duplicated telephone number found on " + nextId + ", please try again.");
                            $('#dlgWarning').modal('show');
                            this.value = null;
                            this.focus();
                            return false;
                        }
                    }
                }
            }

            return true;
        });

        $("input").keyup(function (e) {
            if (e.which == 13) {
                var tabIndex = parseInt($(this).attr("tabindex"));
                tabIndex++;
                $("[tabindex='" + tabIndex + "']").focus();
                e.preventDefault();
            }
        });

        $(".add-row").click(function () {
            var ec = $("#Code").find(':selected').text();
            var od = $("#OffenceDate").val();
            var description = $("#rwDescription").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + ec + "</td><td>" + od + "</td><td>" + description + "</td></tr>";
            if ($("#Code").val() != null && $("#Code").val() != '' && od != '') {
                $("table tbody").append(markup);
            }
        });

        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });

        $('#Form1').submit(function (e) {
            var valid = true;

            if ($("#ClientId  option:selected").text().indexOf("Financial Dated Bail") < 0)
            {
                var $table = $('#tblec')[0];
                if ($table.rows.length <= 1) {
                    $("#vsSummary ul").append('<li>At least 1 warning marker is required.</li>');
                    valid = false;

                }
                if ($("#DEId").val() == null || $("#DEId").val() == '') {
                    var $fileCtrs = $('input[type="file"]');
                    //for (var i = 0; i < $fileCtrs.length; i++) {
                    //for (var i = 0; i < 1; i++) {
                    //    if ($fileCtrs[i].files.length != 1) {
                    //        $("#vsSummary ul").append('<li>1 pdf document is required for Warrant</li>');
                    //        valid = false;
                    //        break;
                    //    }
                    //}
                    if ($fileCtrs[0].files.length != 1) {
                        $("#vsSummary ul").append('<li>1 pdf document is required for Warrant</li>');
                        valid = false;
                    }
                }



                //if (file.size > 5242880 || file.fileSize > 5242880) {
                //    errorMessage = 'Files must be less than 5MB.';
                //}
                if (valid == false) {
                    $("#vsSummary").css("display", "block");
                    var seen = {};
                    $('ul li').each(function () {
                        var txt = $(this).text();
                        if (seen[txt]) {
                            $(this).remove();

                            $("ul").each(
                                function () {
                                    var elem = $(this);
                                    if (elem.children().length == 0) {
                                        elem.remove();
                                    }
                                }
                            );
                        }

                        else
                            seen[txt] = true;
                    });
                    e.preventDefault();
                    return false;
                }

                var ocs = $("#OffenceCodes").val();
                for (var i = 1; i < $table.rows.length; i++) {
                    var allFields = $table.rows[i].cells[1].innerText + ';' + $table.rows[i].cells[2].innerText + ';' + $table.rows[i].cells[3].innerText;

                    if (i == 1) {
                        ocs = allFields;
                    }
                    else {
                        ocs = ocs + '|' + allFields;
                    }
                }

                $("#OffenceCodes").val(ocs);
            }


            return true;


        });

        $("#NINumber").focusout(function () {
            if ($(this).val() != null) {
                $(this).val($(this).val().replace(/\s+/g, ''));
            }
        });

        $("#CaseNumber").focusout(function () {
            if ($(this).val() != null && $(this).val() != '') {
                if ($("#ClientId").val() != null && $("#ClientId").val() != '')
                {
                    $.ajax({
                        //base address/controller/Action
                        url: '@Url.Action("CheckHMCTSCaseAI", "DataEntry", null, Request.Url.Scheme)',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            //Passing Input parameter
                            fileTemplateId: $('#FileTemplateId').val(),
                            clientId: $("#ClientId").val(),
                            caseNumber: $("#CaseNumber").val(),
                            deId: $("#DEId").val()
                        },
                        success: function (data) {
                            if (data == true) {
                                //alert("The Case Number (" + $("#CaseNumber").val() + ") is either already exist in Columbus or currently appending on the queue for cases upload.");
                                $('.dlgWarning-body').text("The Case Number (" + $("#CaseNumber").val() + ") is either already exist in Columbus or currently appending on the queue for cases upload.");
                                $('#dlgWarning').modal('show');
                                return false;
                            }
                        },
                        error: function (xhr, status, errorThrown) {
                            //Here the status code can be retrieved like;
                            alert(xhr.status + ' - ' +
                                //The message added to Response object in Controller can be retrieved as following.
                                xhr.responseText);
                        }
                    });

                }
                else {
                    $('.dlgWarning-body').text("Please select a client before entering case number for validation");
                    $('#dlgWarning').modal('show');
                }
            }

            return true;
        });

        $("#Code").change(function () {
            $("#rwDescription").val($(this).find(':selected').val());
        });

        $("#RegionId").on("change", function () {
            $("#BailDate").val(null);
            $("#divBailDate").hide();
            $("#ClientId").empty();
            $("#ClientId").append($("<option> </option > ").val(null).html('Select a client...'));
            if ($('#RegionId').val() == null || $('#RegionId').val() =='') {
                return false;
            }

            $.ajax({
                //base address/controller/Action
                url: '@Url.Action("GetHMCTSClients", "DataEntry", null, Request.Url.Scheme)',
                type: 'GET',
                dataType: 'json',
                data: {
                    //Passing Input parameter
                    FileTemplateId: $('#FileTemplateId').val(),
                    RegionId: $('#RegionId').val()
                },
                success: function (data) {

                    $.each(data, function () {
                        $("#ClientId").append($("<option> </option > ").val(this['Id']).html(this['Name']));
                    });
                },
                error: function (xhr, status, errorThrown) {
                    //Here the status code can be retrieved like;
                    alert(xhr.status + ' - ' +
                        //The message added to Response object in Controller can be retrieved as following.
                        xhr.responseText);
                }
            });
            return false;
        });

        $("#ClientId").on("change", function () {
            $("#ClientName").val($("#ClientId  option:selected").text());
            if ($("#ClientId  option:selected").text().indexOf("Dated") >= 0)
                $("#divBailDate").show();
            else
                $("#divBailDate").hide();


            if ($("#ClientId  option:selected").text().indexOf("Financial Dated Bail") >= 0)
                $("#divHealthNSafety").hide();
            else
                $("#divHealthNSafety").show();

            return false;
        });

        $("[tabindex='1']").focus();
        $("#ClientName").val($("#ClientId  option:selected").text());
        if ($("#ClientId  option:selected").text().indexOf("Dated") >= 0)
            $("#divBailDate").show();
        else
            $("#divBailDate").hide();

        if ($("#ClientId  option:selected").text().indexOf("Financial Dated Bail") >= 0)
            $("#divHealthNSafety").hide();
        else
            $("#divHealthNSafety").show();

    });


    function ValidateForm() {

        if ($("table tbody").fnSettings().fnRecordsTotal() <= 0) {
            alert("Please enter at least one offence code, and try again.");
            return false;
        }
        //$('#Form1').submit();
        return true;
    }

    function SubmitForm() {
        var $myForm = $('#Form1');
            $('<input type="submit">').hide().appendTo($myForm).click().remove();
    }

</script>
