﻿@using Mgl.DataValidator.Models
@model IEnumerable<Mgl.DataValidator.Models.DataEntry>


<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tableDataEntry">
        <tr>
            <th>
                Client
            </th>
            <th>
                Case Number
            </th>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Warning Markers
            </th>
            <th>
                Created By
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DEOHmcts.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEOHmcts.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEOHmcts.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEOHmcts.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEOHmcts.OffenceCodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "badge badge-pill badge-info" })
                @Html.ActionLink("Delete", null, new { Id = item.Id }, new { onclick = "return DeleteDataEntry(" + item.Id + ");", @class = "badge badge-pill badge-info" })
            </td>
        </tr>
        }

    </table>
</div>
