﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.DEAuditSearchPrms<DEARBase>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "DE Audit Report";
}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("AuditReport", "DataEntry", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">
            <div class="col-md-5">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.ClientId, Model.Clients.OrderBy(x => x.Text).ToList(), "Select a client...", new { @class = "form-control form-control-sm", @name = "ClientId" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "FromDate", @Value = Model.FromDate.HasValue ? Model.FromDate.Value.ToString("yyyy-MM-dd") : null } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-5">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm", @name = "SearchString" } })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", @name = "ToDate", @Value = Model.ToDate.HasValue ? Model.ToDate.Value.ToString("yyyy-MM-dd") : null } })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm", @name = "PageSize" })
                    </div>
                </div>
            </div>
        </div>


        @Html.HiddenFor(model => model.SelectedFileTemplateId)
        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="col-md-auto">
                        <input type="submit" value="Search" class="btn badge-info" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<div style="float:right;  margin-top:20px;">
    @Html.PagedListPager(Model.Results, page => Url.Action("AuditReport", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, clientId = Model.ClientId, SelectedFileTemplateId = Model.SelectedFileTemplateId }))
</div>

@switch (Model.DEFormType)
{
    case EnumDataEntryForm.HMCTS:
        @Html.Partial(("_AR_" + Model.DEFormType.ToString()), Model)
        break;
    default:
        break;
}

<div style="margin-top:20px">
    Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount
    @Html.PagedListPager(Model.Results, page => Url.Action("AuditReport", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, fromDate = Model.FromDate, toDate = Model.ToDate, clientId = Model.ClientId, SelectedFileTemplateId = Model.SelectedFileTemplateId }))

</div>

<div class="form-inline">
    <div class="col-md-offset-2">
        @Html.ActionLink("Back to DE Manager", "Index", "DataEntry", null, new { @class = "btn badge-info", @tabindex = 41 })
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#PageSize").change(function () {
            $("#form1").submit();
        });
    });

</script>

