﻿@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Data Entry Manager";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row mb-2">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Data Entry</h2>
            <p class="lead">Enter data via data entry form</p>
            <p><a href="~/DataEntry/SelectFT" class="btn btn-info btn-lg">Add Data&raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Upload Data</h2>
            <p class="lead">Upload data to server</p>
            <p><a href="~/DataEntry/Upload" class="btn btn-info btn-lg">Upload Data &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Audit Report</h2>
            <p class="lead">Generate Audit Report</p>
            <p><a href="~/DataEntry/SelectAR" class="btn btn-info btn-lg">Audit Report &raquo;</a></p>
        </div>
    </div>
</div>
