﻿@model Mgl.DataValidator.Models.FileTemplate
@using System.Web
@using Mgl.DataValidator.Models

@{
                /**/

                ViewBag.Title = "Upload Preview";

}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Upload", "DataEntry", FormMethod.Post, new {id = "form1", name = "form1" } ))
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Create New", "Create", new { SelectedFileTemplateId = Model.Id }, new { @class = "btn badge-info" })
    </p>

    <input type="hidden" id="SelectedFileTemplateId" name="SelectedFileTemplateId" value="@Model.Id.ToString()">

    <div id="DataEntriesTable">
        @Html.Partial("_" + ((EnumDataEntryForm)Model.DataEntryFormId).ToString() + "_UploadPreview", Model.DEForUpload)
    </div>

    <div class="FTParams">
        @if (Model.ParameterizedDataFields.Count > 0)
        {
            @Html.Partial("_FTParams", Model)
        }
    </div>

    <div style="margin-top:20px">
        <p>
            <input type="submit" id="PPSubmit" name="PPSubmit" value="Pre-Process" class="btn badge-info"/>
            <input type="submit" id="Uploadsubmit"  name="Uploadsubmit" value="Upload" class="btn badge-info" />
            @Html.ActionLink("Back to DE Manager", "Index", "DataEntry", null, new { @class = "btn badge-info" })
        </p>

    </div>
}


<script>

    function DeleteDataEntry(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the appending case?</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("Delete", "DataEntry", null, Request.Url.Scheme)',
            'DataEntriesTable', 'actionMsg', null, null, 'The case has been deleted.');

        return false;
    }
</script>