﻿@using Mgl.DataValidator.Models
@{
    ViewBag.Title = "Home";

}


<div class="row mb-2">
    <div class="col-md-12">
        <h1>Data File Uploader </h1>
        <div class="jumbotron">
            <p class="lead">This web application is designed to assist business users to carry out data cleansing, validation, upload, and transformation processes with self serv elements in order to remove dependency on IT supports to implement them as they are very cumbersome, inefficient and error prone manual processes. This in turn enables business users to have more control of their data, reduces vast amount of time and efforts from both business users and the IT Supports , and more importantly improves productivity and effieciency for the business operations.</p>
        </div>
    </div>
</div>

@if (!((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin && ((User)Context.Session[HttpContext.Current.Session.SessionID]).UserClients.Count <= 0)
{ 
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="jumbotron ">
                <h2  alert-heading>Notice:</h2>
                <p class=" alert-info">This might be your first time logging onto FUT. You are just one step away from being able to utilise the application. Please consult the system administrator to grant you access to any required file templates/functional features, and try again. Sorry for causing any inconvenience.</p>

            </div>
        </div>
    </div>
}
else
{
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Bulk Upload</h2>
                <p class="lead">Cleanse, validate and upload data to database</p>
                <p><a href="~/File/Upload" class="btn btn-info btn-lg">Upload &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Data Validation</h2>
                <p class="lead">Cleanse and validate loaded data file</p>
                <p><a href="~/File/Validate" class="btn btn-info btn-lg">Validate &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Data Preprocessing</h2>
                <p class="lead">Generate preprocessed output files for OneStep</p>
                <p><a href="~/File/OutputFiles" class="btn btn-info btn-lg">Generate Files &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="jumbotron">
                <h2>File Repository</h2>
                <p class="lead">Upload files to specified repository folder on server</p>
                <p><a href="~/File/UploadToRepository" class="btn btn-info btn-lg">Upload &raquo;</a></p>
            </div>
        </div>

        @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
        {
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Transform Data</h2>
                    <p class="lead">Execute pre-set stored procedure for data transformation. </p>
                    <p><a href="~/File/Transform" class="btn btn-info btn-lg">Transform &raquo;</a></p>
                </div>
            </div>
        }
    </div>
}

