﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.ViewModel.FileTemplateViewModel

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tblARActions">
        <tr>
            <th style="display: none;"></th>
            <th>
                @Html.DisplayNameFor(model => model.ARAction.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARAction.ARActionTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARAction.TagName)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model.FTARActions)
        {
            <tr>
                <td style="display: none;">@item.ARActionId</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ARAction.Name)
                </td>
                <td>
                    @item.ARAction.ARActionType.GetDisplayName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ARAction.TagName)
                </td>
                <td>
                    @if (Model.IsDetails)
                    {
                        @Html.ActionLink("Details", "Details", "ARAction", new { id = item.ARActionId }, new { @class = "badge badge-pill badge-info" })
                    }
                    else
                    {
                        if (((User)Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                        {
                            @Html.ActionLink("Edit", "Edit", "ARAction", new { id = item.ARActionId }, new { @class = "badge badge-pill badge-info" })
                        }
                        
                        <a href="#" class="badge badge-pill badge-info" onclick="return DeleteARAction($(this).closest('tr').find('td:eq(1)').html(), @item.Id)">Delete</a>
                    }
                    </td>
            </tr>
        }

    </table>
</div>




