﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models


<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tblDataFields">        
        <tr>
            <th style="display: none;"></th>
            <th>Index</th>
            <th>
                @Html.DisplayNameFor(model => model.DataField.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataField.OutputColumnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataField.FieldType)
            </th>
            <th>
                File Section
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataField.OutputFieldOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataField.ExcludeFromOutput)
            </th>

            @if ((EnumMimeType)Model.FileTemplate.MimeTypeId != EnumMimeType.xml)
            {
                switch ((EnumMimeType)Model.FileTemplate.MimeTypeId)
                {
                    case EnumMimeType.txt:
                    case EnumMimeType.dat:
                        if (Model.FileTemplate.DelimiterId.HasValue && Model.FileTemplate.DelimiterId.Value == 10)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.DataField.FieldWidth)
                            </th>
                        }
                        break;
                    default:
                        break;
                }
                <th>
                    @Html.DisplayNameFor(model => model.DataField.OutputFormat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataField.DefaultValue)
                </th>
            }
            else
            {
                <th>
                    @Html.DisplayNameFor(model => model.DataField.XMLChildNodeXPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataField.HasMultipleNodes)
                </th>
            }

            <th>
                Actions
            </th>
        </tr>
       
            @{ int countIndex = 1; }
            @foreach (var item in Model.FTDataFields)
            {
        <tr>
            <td style="display: none;">@item.DataFieldId</td>
            <td>
                @countIndex
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataField.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataField.OutputColumnName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataField.DisplayFieldType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataField.DisplayFileSection)
            </td>
            <td>
                @item.DataField.OutputFieldOnly.ToString()
            </td>
            <td>
                @item.DataField.ExcludeFromOutput.ToYesNo()
            </td>

            @if ((EnumMimeType)Model.FileTemplate.MimeTypeId != EnumMimeType.xml)
            {
                switch ((EnumMimeType)Model.FileTemplate.MimeTypeId)
                {
                    case EnumMimeType.txt:
                    case EnumMimeType.dat:
                        if (Model.FileTemplate.DelimiterId.HasValue && Model.FileTemplate.DelimiterId.Value == 10)
                        {
                            <td>
                                @(!item.DataField.FieldWidth.HasValue ? string.Empty : item.DataField.FieldWidth.Value.ToString())
                            </td>
                        }
                        break;
                    default:
                        break;
                }

                <td>
                    @Html.DisplayFor(modelItem => item.DataField.OutputFormat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataField.DefaultValue)
                </td>
            }
            else
            {
                <td>
                   @Html.Raw(item.DataField.XMLChildNodeXPath)
                </td>
                <td>
                   @item.DataField.HasMultipleNodes.ToYesNo()
                </td>
            }

            <td>
                @if (Model.IsDetails)
                {
                    @Html.ActionLink("Details", "Details", "DataField", new { id = item.DataFieldId }, new { @class = "badge badge-pill badge-info" })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", "DataField", new { id = item.DataFieldId }, new { @class = "badge badge-pill badge-info" })
                    <a href="#" class="badge badge-pill badge-info btnDeleteDF" event.result onclick="return DeleteAction($(this).closest('tr').find('td:eq(2)').html(), @item.Id)">Delete</a>
                }
            </td>
        </tr>
                countIndex++;
            }
                     

        <tfoot>
            <tr>
                <th style="display: none;"></th>
                <th>
                </th>
                <th colspan="2">
                    Number Of DFs Appended
                </th>
                <th colspan="7">
                    @Model.FTDataFields.Count().ToString()
                </th>
            </tr>

        </tfoot>
    </table>
</div>






