﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.ViewModel.FileTemplateViewModel

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tblDTActions">
        <tr>
            <th style="display: none;"></th>
            <th>
                @Html.DisplayNameFor(model => model.DTAction.ActionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTAction.DTActionTypeId)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model.FTDTActions)
        {
            <tr>
                <td style="display: none;">@item.DTActionId</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DTAction.ActionName)
                </td>
                <td>
                    @item.DTAction.DTActionType.GetDisplayName()
                </td>
                <td>
                    @if (Model.IsDetails)
                    {
                        @Html.ActionLink("Details", "Details", "DTAction", new { id = item.DTActionId }, new { @class = "badge badge-pill badge-info" })
                    }
                    else
                    {
                        if (((User)Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                        {
                            @Html.ActionLink("Edit", "Edit", "DTAction", new { id = item.DTActionId }, new { @class = "badge badge-pill badge-info" })
                        }

                        <a href="#" class="badge badge-pill badge-info" onclick="return DeleteDTAction($(this).closest('tr').find('td:eq(1)').html(), @item.Id)">Delete</a>
                    }
                </td>
            </tr>
        }

    </table>
</div>

