﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card-header card-title">
        <h4>Audit File Settings</h4>
    </div>

    <div class="card-body">

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.AuditFileExtenstion, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.AuditFileExtenstion, EnumHelper.GetSelectList(typeof(EnumARMimeType)), "--Select AR File Extension--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center auditFileExtenstionrValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.AuditFileExtenstion, "AR File Extension required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.ARFileNamePrefix, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FileTemplate.ARFileNamePrefix, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.ARFileNameNoSuffix, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.FileTemplate.ARFileNameNoSuffix, Model.FileTemplate.ARFileNameNoSuffix)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.ARTemplateScript, htmlAttributes: new { @class = "badge cust-badge-light col-md-2" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.FileTemplate.ARTemplateScript, new { @class = "form-control form-control-sm", @style = "max-width: 100%", @cols = 150, @rows = 4 })
                    </div>
                </div>
                <div class="col-md-12 text-md-center aRTemplateScriptValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.ARTemplateScript, "AR Template Script required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />

        <div class="card">
            <div class="card-header card-title">
                <h4>AR Actions</h4>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="form-inline">
                            @*<a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('datafieldcard');">Append Existing Field</a>*@
                            <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('aractioncard');">Append Existing ARAction</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light aractioncard" style="display: none;">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="arActionMsg" style="opacity:1; display:none;">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        @Html.LabelFor(model => model.ARAction.Name, htmlAttributes: new { @class = "badge badge-info col-md-2" })
                                        <div class="col-md-auto">
                                            @Html.DropDownList("ARAction_Name", Model.SelectARActionsList, "Refresh The List", new { @class = "form-control form-control-sm" })
                                            <a href="#" class="btn badge-info btnRefreshARActionsDDL">Refresh</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div>
                                            <a href="#" class="btn badge-info btnAddARAction">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-text" id="pnlARActionList">
                    @Html.Partial("_ARActionsList", Model)
                </div>
            </div>
        </div>





    </div>
</div>
