﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
    
    <div class="card-header card-title">
        <h4>Output File Settings</h4>
    </div>

    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.OutputFileDelimiterId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.OutputFileDelimiterId, new SelectList(Model.SelectOutputDelimitersList, "Value", "Text", Model.FileTemplate.OutputFileDelimiterId), "-- Select Delimiter & File Extention --", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center outputFileDelimiterValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.OutputFileDelimiterId, "Output File Delimiter required.", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.DTFileWriter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.DTFileWriter, EnumHelper.GetSelectList(typeof(EnumFileWriter)), "--Select DT File Writer--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center fileWriterValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.DTFileWriter, "File Writer required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.OFExcludeColumnHeader, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.FileTemplate.OFExcludeColumnHeader, Model.FileTemplate.OFExcludeColumnHeader)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.OutputFileEncoding, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.OutputFileEncoding, EnumHelper.GetSelectList(typeof(EnumOutputFileEncoding)), "--Select Encoding Method--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center fileEncodingValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.OutputFileEncoding, "Encoding Method required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
    </div>
</div>