﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.FTSearchPrms<FileTemplate>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed tableFileTemplate">
        <tr>
            <th>
                Name
            </th>
            <th>
                Client
            </th>
            <th>
                Input File Type
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (FileTemplate fileTemplate in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fileTemplate.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fileTemplate.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fileTemplate.MimeType.Name) (@Html.DisplayFor(modelItem => fileTemplate.MimeType.Extension))
                </td>
                <td class="form-inline">
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = fileTemplate.Id }, new { @class = "badge badge-pill badge-info" })
                        @if (((User)HttpContext.Current.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                        {
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", null, new { id = fileTemplate.Id }, new { onclick = "return DeleteTemplate(" + fileTemplate.Id + ");", @class = "badge badge-pill badge-info" })
                        }

                    </div>

                    <div> | @Html.ActionLink("Details", "Details", new { id = fileTemplate.Id }, new { @class = "badge badge-pill badge-info" }) </div>
                </td>
            </tr>
        }

    </table>
</div>
