﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
    
    <div class="card-header card-title">
        <h4>File Repository Settings</h4>
    </div>

    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.RepositoryFilePath, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FileTemplate.RepositoryFilePath, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center repositoryFilePathValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.RepositoryFilePath, "Repository File Path required", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.FNPAsSubfolder, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.FileTemplate.FNPAsSubfolder, Model.FileTemplate.FNPAsSubfolder)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.FNTimestamp, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.FileTemplate.FNTimestamp, Model.FileTemplate.FNTimestamp)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>