﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel

@{
    ViewBag.Title = "Add File Template";
    
}

<h2>@ViewBag.Title</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FileTemplate.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.FileTemplate.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.ClientId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.ClientId, new SelectList(Model.SelectClientItems, "Value", "Text"), "--Select Client--", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="col-md-12 text-md-center">
                        @Html.ValidationMessageFor(model => model.FileTemplate.ClientId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.FileTemplate.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.MimeTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.MimeTypeId, new SelectList(Model.SelectMimeTypeItems, "Value", "Text"), "--Select File Type--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.FileTemplate.MimeTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.DBConnectionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.DBConnectionId, new SelectList(Model.SelectConnectionItems, "Value", "Text"), "--Select DBConnection--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.FileTemplate.DBConnectionId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="submit" value="Create" class="btn badge-info" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

