﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "File Template Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.Name, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.Description, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    @Html.DisplayTextFor(model => model.FileTemplate.DescriptionDisplay)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DBConnectionId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DbConnection.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.MimeTypeId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.MimeType.Name)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.ClientId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.Client.Name)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.BulkUpload, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.BulkUpload.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.BUStagingTable, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.BUStagingTable == null ? "N/A" : Model.FileTemplate.BUStagingTable)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.BUReport, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.BUReport.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.BUReportCmdTextId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.BUReportCmdTextId.HasValue ? Model.FileTemplate.BUSReportCmdText.Name : "N/A")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.BUReportClientIds, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.BUReportClientIds ?? string.Empty)
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DTStoredProcedureId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DTStoredProcedureId.HasValue ? Model.FileTemplate.StoredProcedure.SPName : "N/A")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DTFileWriter, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.FileTemplate.DTFileWriter.HasValue ? "N/A" : ((EnumFileSection)Model.FileTemplate.DTFileWriter).ToString())
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.RemoveHeader, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.RemoveHeader.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.RemoveFooter, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.RemoveFooter.ToYesNo())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.NoColumnName, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.NoColumnName.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DelimiterId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.FileTemplate.DelimiterId.HasValue ? "N/A" : Model.FileTemplate.FileDelimiter.Delimiter)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.GenerateOutputFile, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.GenerateOutputFile.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.XMLRootNodeXPath, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8" style="word-wrap: break-word;">
                    @Html.DisplayTextFor(model => model.FileTemplate.XMLRootNodeXPathDisplay)
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.OverrideDefaultDTActionSequence, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.OverrideDefaultDTActionSequence.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.MergeDTAStages, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.MergeDTAStages.ToYesNo())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.UseXsd, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.UseXsd.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.XsdFileId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.XsdFile == null ? "N/A" : Model.FileTemplate.XsdFile.OriginalFileName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.OFExcludeColumnHeader, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.OFExcludeColumnHeader.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.OutputFileEncoding, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.OutputFileEncoding.HasValue ? ((EnumOutputFileEncoding)Model.FileTemplate.OutputFileEncoding.Value).ToString() : "N/A")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.OutputFileDelimiterId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.OutputFileDelimiter == null ? "N/A" : Model.FileTemplate.OutputFileDelimiter.Delimiter)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.HeaderRowsToSkip, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.FileTemplate.HeaderRowsToSkip.HasValue ? "N/A" : Model.FileTemplate.HeaderRowsToSkip.Value.ToString())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.FooterRowsToSkip, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(!Model.FileTemplate.FooterRowsToSkip.HasValue ? "N/A" : Model.FileTemplate.FooterRowsToSkip.Value.ToString())
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.UploadToFileRepository, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.UploadToFileRepository.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.RepositoryFilePath, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.RepositoryFilePath ?? "N/A")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.FNPAsSubfolder, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.FNPAsSubfolder.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.FNTimestamp, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.FNTimestamp.ToYesNo())
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DataEntry, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DataEntry.ToYesNo())
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DataEntryFormId, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DataEntryFormId.HasValue ? ((EnumDataEntryForm)Model.FileTemplate.DataEntryFormId.Value).ToString() : "N/A")
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DEStagingTable, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DEStagingTable ?? "N/A")
                </div>
            </div>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.ARFileNamePrefix, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.ARFileNamePrefix ?? "N/A")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.ARFileNameNoSuffix, new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.ARFileNameNoSuffix.ToYesNo())
                </div>
            </div>
        </div>
    </div>

</div>



@if (Model.FTDataFields != null && Model.FTDataFields.Count() > 0)
{
    <div class="card">
        <div class="card-header card-title">
            <h4>Data Fields</h4>
        </div>
        <div class="card-text" id="pnlDataFieldList">
            @Html.Partial("_DataFieldList", Model)
        </div>
    </div>
}

<br />

@if (Model.FTDTActions != null && Model.FTDTActions.Count() > 0)
{
    <div class="card">
        <div class="card-header card-title">
            <h4>DT Actions</h4>
        </div>
        <div class="card-text" id="pnlFTDTAction">
            @Html.Partial("_DTActionsList", Model)
        </div>
    </div>
}

<br />

@if (Model.FTDTActions != null && Model.FTDTActions.Count() > 0)
{
    <div class="card">
        <div class="card-header card-title">
            <h4>AR Actions</h4>
        </div>        
        <div class="card-text" id="pnlARActionList">
            @Html.Partial("_ARActionsList", Model)
        </div>
    </div>
}

<br />
<div class="form-horizontal">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Created By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.User.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Created", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DateCreated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Updated By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.User1.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Updated", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DateUpdated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>



</div>
<hr />

<div class="form-inline">
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
    {
        <div>@Html.ActionLink("Edit", "Edit", new { id = Model.FileTemplate.Id }, new { @class = "btn badge-info" })</div>
    }

    <div> @Html.ActionLink("Back to List", "Index", "FileTemplate", null, new { @class = "btn badge-info" }) </div>
</div>
