﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Edit File Template";

}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FileTemplate.Id)

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.FileTemplate.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.FileTemplate.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.ClientId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.ClientId, new SelectList(Model.SelectClientItems, "Value", "Text"), "--Select Client--", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.FileTemplate.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.TextAreaFor(model => model.FileTemplate.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DBConnectionId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.DBConnectionId, new SelectList(Model.SelectConnectionItems, "Value", "Text"), "--Select DBConnection--", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.FileTemplate.DBConnectionId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.MimeTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.MimeTypeId, new SelectList(Model.SelectMimeTypeItems, "Value", "Text"), "--Select File Type--", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.FileTemplate.MimeTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline xpathDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.XMLRootNodeXPath, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.TextAreaFor(model => model.FileTemplate.XMLRootNodeXPath, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                </div>
            </div>
            <div class="col-md-12 text-md-center xpathValidation">
                @Html.ValidationMessageFor(model => model.FileTemplate.XMLRootNodeXPath, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline useXsdDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.UseXsd, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.FileTemplate.UseXsd, Model.FileTemplate.UseXsd)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline xsdFileIdDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.XsdFileId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.XsdFileId, new SelectList(Model.SelectXsdFilesList, "Value", "Text", Model.FileTemplate.XsdFileId), "--Select xsd file--", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center xsdFileIdValidation" style="display: none;">
                @Html.ValidationMessageFor(model => model.FileTemplate.OutputFileEncoding, "XSD File required.", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline removeHeaderDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.RemoveHeader, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.FileTemplate.RemoveHeader, Model.FileTemplate.RemoveHeader)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline removeFooterDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.RemoveFooter, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.FileTemplate.RemoveFooter, Model.FileTemplate.RemoveFooter)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline headerRowsToSkipDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.HeaderRowsToSkip, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.FileTemplate.HeaderRowsToSkip, new { htmlAttributes = new { @class = "form-control form-control-sm", @style = "Width:50px", @min = 0 } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline footerRowsToSkipDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.FooterRowsToSkip, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.FileTemplate.FooterRowsToSkip, new { htmlAttributes = new { @class = "form-control form-control-sm", @style = "Width:50px", @min = 0 } })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline noColumnNameDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.NoColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.FileTemplate.NoColumnName)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline delimiterDiv" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.DelimiterId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.DelimiterId, new SelectList(Model.SelectInputDelimitersList, "Value", "Text", Model.FileTemplate.DelimiterId), "--Select Delimiter--", new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.OverrideDefaultDTActionSequence, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBox("FileTemplate.OverrideDefaultDTActionSequence", Model.FileTemplate.OverrideDefaultDTActionSequence, new { name = "FileTemplate.OverrideDefaultDTActionSequence" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.MergeDTAStages, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBox("FileTemplate.MergeDTAStages", Model.FileTemplate.MergeDTAStages, new { name = "FileTemplate.MergeDTAStages" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="processesDiv">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.BulkUpload, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.BulkUpload", Model.FileTemplate.BulkUpload, new { name = "FileTemplate.BulkUpload" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline bustagingTbl" style="display: none;">
                    @Html.LabelFor(model => model.FileTemplate.BUStagingTable, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FileTemplate.BUStagingTable, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center bustagingTblValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.BUStagingTable, "BU Staging table is required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2 ">
            <div class="col-md-6">
                <div class="form-inline bustagingTbl" style="display: none;">
                    @Html.LabelFor(model => model.FileTemplate.BUReport, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.BUReport", Model.FileTemplate.BUReport, new { name = "FileTemplate.BUReport" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline bustagingTbl buct" style="display: none;">
                    @Html.LabelFor(model => model.FileTemplate.BUReportCmdTextId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.BUReportCmdTextId, Model.FileTemplate.SelectBUCmdTextItems, "--Select Sql Script--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center buctValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.BUReportCmdTextId, "Rep SQL Script is required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2 ">
            <div class="col-md-6">
                <div class="form-inline bustagingTbl buclids" style="display: none;">
                    @Html.LabelFor(model => model.FileTemplate.BUReportClientIds, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.FileTemplate.BUReportClientIds, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center buclidsValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.BUReportClientIds, "FT Clients is required.", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.TransformData, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.TransformData", Model.FileTemplate.TransformData, new { name = "FileTemplate.TransformData" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline dtspTbl" style="display: none;">
                    @Html.LabelFor(model => model.FileTemplate.DTStoredProcedureId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.FileTemplate.DTStoredProcedureId, new SelectList(Model.FileTemplate.SelectDTSPItems, "Value", "Text", Model.FileTemplate.DTStoredProcedureId), "--Select DT SP--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center dtspTblValidation" style="display: none;">
                    @Html.ValidationMessageFor(model => model.FileTemplate.DTStoredProcedureId, "DT stored procedure is required.", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.GenerateOutputFile, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.GenerateOutputFile", Model.FileTemplate.GenerateOutputFile, new { name = "FileTemplate.GenerateOutputFile" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 cardGenerateFile" style="display: none;">
            @Html.Partial("_GenerateOutputFile", Model)
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.UploadToFileRepository, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.UploadToFileRepository", Model.FileTemplate.UploadToFileRepository, new { name = "FileTemplate.UploadToFileRepository" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 cardUploadToFileRepository" style="display: none;">
            @Html.Partial("_UploadToFileRepository", Model)
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.FileTemplate.GenerateAuditFile, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("FileTemplate.GenerateAuditFile", Model.FileTemplate.GenerateAuditFile, new { name = "FileTemplate.GenerateAuditFile" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 cardGenerateAudit" style="display: none;">
            @Html.Partial("_GenerateAuditFile", Model)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.FileTemplate.DataEntry, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBox("FileTemplate.DataEntry", Model.FileTemplate.DataEntry, new { name = "FileTemplate.DataEntry" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-md-6">
            <div class="form-inline defTbl" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.DataEntryFormId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DropDownListFor(model => model.FileTemplate.DataEntryFormId, EnumHelper.GetSelectList(typeof(EnumDataEntryForm)).OrderBy(x => x.Text).ToList(), "-Select-", new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-md-12 text-md-center defTblValidation" style="display: none;">
                @Html.ValidationMessageFor(model => model.FileTemplate.DataEntryFormId, "Data Entry Form is required.", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline destagingTbl" style="display: none;">
                @Html.LabelFor(model => model.FileTemplate.DEStagingTable, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.FileTemplate.DEStagingTable, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center destagingTblValidation" style="display: none;">
                @Html.ValidationMessageFor(model => model.FileTemplate.DEStagingTable, "DE Staging table is required.", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <hr />
    <table class="table-borderless" width="100%">
        <tr>
            <td width="50%">
                <input type="submit" value="Save" class="btn badge-info btnSubmitFT" />
                @Html.ActionLink("Back to List", "Index", "FileTemplate", null, new { @class = "btn badge-info" })
            </td>
            <td width="50%">
                @if (((User)HttpContext.Current.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
                {
                    @Html.ActionLink("Clone", "Clone", "FileTemplate", new { id = Model.FileTemplate.Id }, new { @class = "btn badge-info" })
                }
                @Html.ActionLink("Deep Clone", "DeepClone", "FileTemplate", new { id = Model.FileTemplate.Id }, new { @class = "btn badge-info" })

            </td>
        </tr>

    </table>
    <p>



    </p>
</div>
}


<div class="card">
    <div class="card-header card-title">
        <h4>DT Actions</h4>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('dtactioncard'); ">Append Existing Action</a>
                    <a href="#" class="card-link btn badge-info btnSaveDTAOrder">Save Current Order</a>
                </div>
            </div>
        </div>

        <div class="card bg-light dtactioncard" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div id="dtActionMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-inline">
                                @Html.Label("DTActionName", htmlAttributes: new { @class = "badge badge-info col-md-2" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("DTActionName", new SelectList(Model.SelectDTActionsList, "Value", "Text"), "Refresh The List", new { @class = "form-control form-control-sm" })
                                    <a href="#" class="btn badge-info btnRefreshDTActionsDDL">Refresh</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info btnAddDTAction">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <div class="card-text" id="pnlDTActionsList">
            @Html.Partial("_DTActionsList", Model)
        </div>
    </div>

</div>

<br />

<div class="card">
    <div class="card-header card-title">
        <h4>Data Fields</h4>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('datafieldcard');">Append Existing Field</a>
                    <a href="#" class="card-link btn badge-info btnSaveDFOrder">Save Current Order</a>
                </div>
            </div>
        </div>

        <div class="card bg-light datafieldcard" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="datafieldsMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-inline">
                                @Html.LabelFor(model => model.DataField.Name, htmlAttributes: new { @class = "badge badge-info col-md-2" })
                                <div class="col-md-auto">
                                    @Html.DropDownListFor(model => model.DataField.Name, Model.SelectDataFields, "Refresh The List", new { @class = "form-control form-control-sm" })
                                    <a href="#" class="btn badge-info btnRefreshDataFieldsDDL">Refresh</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info btnAddTemplateField">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <div class="card-text" id="pnlDataFieldList">
            @Html.Partial("_DataFieldList", Model)
        </div>
    </div>
</div>

<br />
<div class="form-horizontal">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Created By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.User.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Created", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DateCreated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Updated By", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.User1.UserId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.Label("Date Updated", htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.FileTemplate.DateUpdated.ToString("dd/MM/yyyy"))
                </div>
            </div>
        </div>
    </div>



</div>
    <script language="javascript" type="text/javascript">

    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }

    $('.btnSaveDFOrder').click(function () {

        $('.tblDataFields').scrollView().focus();
    });

    $('.btnSaveDTAOrder').click(function () {

        $('.tblDTActions').scrollView().focus();
    });

    var fileTemplateId = $('#FileTemplate_Id').val();
    var ckboxGenerateFO = $('#FileTemplate_GenerateOutputFile');
    var ckboxUploadToRepository = $('#FileTemplate_UploadToFileRepository');
    var ckboxGenerateAF = $('#FileTemplate_GenerateAuditFile');
    var ckboxBulkUpload = $('#FileTemplate_BulkUpload');
    var ckboxBUReport = $('#FileTemplate_BUReport');
    var ckboxTransformData = $('#FileTemplate_TransformData');
    var cardGenerateFile = $('.cardGenerateFile');
    var cardGenerateAuditFile = $('.cardGenerateAudit');
    var cardUploadToFileRepository = $('.cardUploadToFileRepository');
    var ckboxUseXsd = $('#FileTemplate_UseXsd');
    var ckboxDataEntry = $('#FileTemplate_DataEntry');

    function clearFieldsUploadToFileRepo() {
        $('#FileTemplate_FNPAsSubfolder').prop('checked', false);
        $('#FileTemplate_RepositoryFilePath').val('');
        $('#FileTemplate_FNTimestamp').prop('checked', false);
    }

    function clearFieldsGenerateFO() {
        $('#FileTemplate_OFExcludeColumnHeader').prop('checked', false);
        $('#FileTemplate_OutputFileDelimiterId').val('');
        $('#FileTemplate_DTFileWriter').val('');
        $('#FileTemplate_OutputFileEncoding').val('');
    }

    function clearFieldsGenerateAF() {
        $('#FileTemplate_AuditFileExtenstion').val('');
        $('#FileTemplate_ARTemplateScript').val('');
    }

    ckboxGenerateFO.change(function () {
        if (!this.checked && ckboxUploadToRepository.is(':checked')) {
            $('.dlgWarning-body').text("Upload To Repository (UTR) requires the settings for generating files. Please uncheck the UTR first , and try again.");
            $('#dlgWarning').modal('show');
            $('#FileTemplate_GenerateOutputFile').prop('checked', true);
            return false;
        }
        clearFieldsGenerateFO();
        uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', false);
        uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', false);
        cardGenerateFile.hide();


        if (this.checked) {

                cardGenerateFile.show();

                if ($('#FileTemplate_OutputFileDelimiterId').children(':selected').val() == '') {
                    uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', true);
                }
                else {
                    uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', false);
                }

                if ($('#FileTemplate_DTFileWriter').children(':selected').val() == '') {
                    uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', true);
                }
                else {
                    uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', false);
                }

                if ($('#FileTemplate_OutputFileEncoding').children(':selected').val() == '') {
                    uiscript.executeValidation('FileTemplate_OutputFileEncoding', 'fileEncodingValidation', true);
                }
                else {
                    uiscript.executeValidation('FileTemplate_OutputFileEncoding', 'fileEncodingValidation', false);
                }

            }
    });


    ckboxUseXsd.change(function () {
        if (!this.checked) {
            $('#FileTemplate_XsdFileId').val('');
            uiscript.executeValidation('FileTemplate_XsdFileId', 'xsdFileIdValidation', false);
            return false;
        }
        else {
            uiscript.executeValidation('FileTemplate_XsdFileId', 'xsdFileIdValidation', true);
        }
    });


    ckboxGenerateAF.change(function () {
        cardGenerateAuditFile.hide();
        clearFieldsGenerateAF();
        uiscript.executeValidation('FileTemplate_AuditFileExtenstion', 'auditFileExtenstionrValidation', false);
        uiscript.executeValidation('FileTemplate_ARTemplateScript', 'aRTemplateScriptValidation', false);

        if (this.checked) {
            cardGenerateAuditFile.show();

            var HasAFEValue = $('#FileTemplate_AuditFileExtenstion').children(':selected').val() == '';
            var HasARTSValue = $('#FileTemplate_ARTemplateScript').val() == null || $('#FileTemplate_ARTemplateScript').val() == "";

            uiscript.executeValidation('FileTemplate_AuditFileExtenstion', 'auditFileExtenstionrValidation', HasAFEValue);
            uiscript.executeValidation('FileTemplate_ARTemplateScript', 'aRTemplateScriptValidation', HasARTSValue);
        }
    });

    ckboxUploadToRepository.change(function () {
        if (!ckboxGenerateFO.is(':checked') && this.checked) {
            $('.dlgWarning-body').text("Please configure the Generate Output File section first, and try again.");
            $('#dlgWarning').modal('show');
            $('#FileTemplate_UploadToFileRepository').prop('checked', false);
            $('#FileTemplate_GenerateOutputFile').prop('checked', true);
            $('#FileTemplate_GenerateOutputFile').trigger('change');
            return false;
        }

        clearFieldsUploadToFileRepo();
        cardUploadToFileRepository.hide();


        if (this.checked) {
            cardUploadToFileRepository.show();

        }
        uiscript.executeValidation('FileTemplate_UploadToFileRepository', 'repositoryFilePathValidation', this.checked);
    });


    function ClearOSElements() {
        $('#FileTemplate_RemoveHeader :checked').removeAttr('checked');
        $('#FileTemplate_RemoveFooter :checked').removeAttr('checked');
        $('#FileTemplate_NoColumnName :checked').removeAttr('checked');
        $('#FileTemplate_DelimiterId').val('');
        $('#FileTemplate_XMLRootNodeXPath').val('');
        $('#FileTemplate_HeaderRowsToSkip').val('');
        $('#FileTemplate_FooterRowsToSkip').val('');
    }

    $('#FileTemplate_MimeTypeId').change(function () {
        $('.xpathDiv').hide();
        $('.removeHeaderDiv').hide();
        $('.removeFooterDiv').hide();
        $('.noColumnNameDiv').hide();
        $('.delimiterDiv').hide();
        $('.headerRowsToSkipDiv').hide();
        $('.footerRowsToSkipDiv').hide();
        $('.useXsdDiv').hide();
        $('.xsdFileIdDiv').hide();
        $('#FileTemplate_RemoveHeader').prop('checked', false);
        $('#FileTemplate_RemoveFooter').prop('checked', false);
        $('#FileTemplate_NoColumnName').prop('checked', false);
        uiscript.executeValidation('FileTemplate_XMLRootNodeXPath', 'xpathValidation', false);
        $('#FileTemplate_XsdFileId').val('');
        $('#FileTemplate_UseXsd').prop('checked', false);
        ClearOSElements();
        var mimeId = $('#FileTemplate_MimeTypeId').children(':selected').val();
        switch (mimeId) {
            case '1':
            case '2':
            case '6':
            case '7':
            case '8':
                $('.removeHeaderDiv').show();
                $('.removeFooterDiv').show();
                $('.noColumnNameDiv').show();
                $('.headerRowsToSkipDiv').show();
                $('.footerRowsToSkipDiv').show();
                break;
            case '3':
            case '4':
            case '9':
                $('.removeHeaderDiv').show();
                $('.removeFooterDiv').show();
                $('.noColumnNameDiv').show();
                $('.delimiterDiv').show();
                $('.headerRowsToSkipDiv').show();
                $('.footerRowsToSkipDiv').show();
                break;
            case '5':
                $('.xpathDiv').show();
                $('.useXsdDiv').show();
                $('.xsdFileIdDiv').show();
                uiscript.executeValidation('FileTemplate_XMLRootNodeXPath', 'xpathValidation', true);
                break;
        }



    });

    $(document).ready(function () {

        uiscript.sortTable('tblDataFields');
        uiscript.sortTable('tblDTActions');

        ckboxBulkUpload.prop('checked', false);
        ckboxBUReport.prop('checked', false);
        ckboxTransformData.prop('checked', false);
        $('#FileTemplate_DataEnty').prop('checked', false);
        uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', false);
        uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', false);
        uiscript.executeValidation('FileTemplate_XMLRootNodeXPath', 'xpathValidation', false);
        $('.xpathDiv').hide();
        $('.useXsdDiv').hide();
        $('.xsdFileIdDiv').hide();
        $('.removeHeaderDiv').hide();
        $('.removeFooterDiv').hide();
        $('.noColumnNameDiv').hide();
        $('.delimiterDiv').hide();
        $('.headerRowsToSkipDiv').hide();
        $('.footerRowsToSkipDiv').hide();

        if ($('#FileTemplate_DTStoredProcedureId').val() != null || $('#FileTemplate_DTStoredProcedureId').val() != '') {
            ckboxTransformData.prop('checked', true);
            $('.dtspTbl').show();
            $('#FileTemplate_DTStoredProcedureId').prop('required', true);
        }

        if ($('#FileTemplate_DataEntryFormId').val() != null || $('#FileTemplate_DataEntryFormId').val() != '') {
            ckboxDataEntry.prop('checked', true);
            $('.defTbl').show();
            $('#FileTemplate_DataEntryFormId').prop('required', true);
        }

        if ($('#FileTemplate_MimeTypeId').children(':selected').val() == '5') {
            $('.xpathDiv').show();
            $('.useXsdDiv').show();
            $('.xsdFileIdDiv').show();
            uiscript.executeValidation('FileTemplate_XMLRootNodeXPath', 'xpathValidation', true);
        }

        if ($('#FileTemplate_MimeTypeId').children(':selected').val() == '4'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '3'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '9') {
            $('.removeHeaderDiv').show();
            $('.removeFooterDiv').show();
            $('.noColumnNameDiv').show();
            $('.delimiterDiv').show();
            $('.headerRowsToSkipDiv').show();
            $('.footerRowsToSkipDiv').show();
        }

        if ($('#FileTemplate_MimeTypeId').children(':selected').val() == '1'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '2'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '7'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '8'
            || $('#FileTemplate_MimeTypeId').children(':selected').val() == '6') {
            $('.removeHeaderDiv').show();
            $('.removeFooterDiv').show();
            $('.noColumnNameDiv').show();
            $('.headerRowsToSkipDiv').show();
            $('.footerRowsToSkipDiv').show();
        }

        if ($('#FileTemplate_DTStoredProcedureId').children(':selected').val() == '') {
            $('.dtspTbl').hide();
            ckboxTransformData.prop('checked', false);
            $('#FileTemplate_DTStoredProcedureId').prop('required', false);
        }

        if ($('#FileTemplate_DataEntryFormId').children(':selected').val() == '') {
            $('.defTbl').hide();
            ckboxDataEntry.prop('checked', false);
            $('#FileTemplate_DataEntryFormId').prop('required', false);
        }

        if ($('#FileTemplate_BUStagingTable').val() != null || $('#FileTemplate_BUStagingTable').val() != '') {
            ckboxBulkUpload.prop('checked', true);
            $('.bustagingTbl').show();
            $('#FileTemplate_BUStagingTable').prop('required', true);
        }

        if ($('#FileTemplate_BUReportCmdTextId').val() != null || $('#FileTemplate_BUReportCmdTextId').val() != '') {
            ckboxBUReport.prop('checked', true);
            $('.buct').show();
            $('#FileTemplate_BUReportCmdTextId').prop('required', true);
        }

        if ($('#FileTemplate_DEStagingTable').val() != null || $('#FileTemplate_DEStagingTable').val() != '') {
            ckboxDataEntry.prop('checked', true);
            $('.destagingTbl').show();
            $('#FileTemplate_DEStagingTable').prop('required', true);
        }

        if ($('#FileTemplate_BUStagingTable').val() == '') {
            ckboxBulkUpload.prop('checked', false);
            $('.bustagingTbl').hide();
            $('#FileTemplate_BUStagingTable').prop('required', false);
        }

        if ($('#FileTemplate_BUReportCmdTextId').val() == '') {
            ckboxBUReport.prop('checked', false);
            $('.buct').hide();
            $('#FileTemplate_BUReportCmdTextId').prop('required', false);
        }

        if ($('#FileTemplate_DEStagingTable').val() == '') {
            ckboxDataEntry.prop('checked', false);
            $('.destagingTbl').hide();
            $('#FileTemplate_DEStagingTable').prop('required', false);
        }

        if (ckboxGenerateFO.is(':checked')) {
            cardGenerateFile.show();
            $('#FileTemplate_DTFileWriter').prop('required', true);
            $('#FileTemplate_OutputFileDelimiterId').prop('required', true);
            $('#FileTemplate_OutputFileEncoding').prop('required', true);
        }
        else {
            cardGenerateFile.hide();
            $('#FileTemplate_DTFileWriter').prop('required', false);
            $('#FileTemplate_OutputFileDelimiterId').prop('required', false);
            $('#FileTemplate_OutputFileEncoding').prop('required', false);
            $('#DTActionName').prop('required', false);
        }

        if (ckboxUploadToRepository.is(':checked')) {
            cardUploadToFileRepository.show();
            $('#FileTemplate_RepositoryFilePath').prop('required', true);
        }
        else {
            cardUploadToFileRepository.hide();
            $('#FileTemplate_RepositoryFilePath').prop('required', false);
        }

        if (ckboxDataEntry.is(':checked')) {
            //cardGenerateFile.hide();
            //ckboxBulkUpload.prop('checked', false);
            //ckboxTransformData.prop('checked', false);
            //$('#FileTemplate_GenerateOutputFile').prop('checked', false);
            $('#processesDiv').hide();
        }
        else {
            $('#processesDiv').show();
        }

        if (ckboxGenerateAF.is(':checked')) {
            cardGenerateAuditFile.show();
            $('#FileTemplate_AuditFileExtenstion').prop('required', true);
            $('#FileTemplate_ARTemplateScript').prop('required', true);
        }
        else {
            cardGenerateAuditFile.hide();
            $('#FileTemplate_AuditFileExtenstion').prop('required', false);
            $('#FileTemplate_ARTemplateScript').prop('required', false);
            $('#ARAction_Name').prop('required', false);
        }

        GetReferenceData(1, 'DTActionName');
        GetReferenceData(2, 'DataField_Name');
        GetReferenceData(3, 'ARAction_Name');

    });

    $(function () {
        $('.btnSaveDFOrder').click(function () {
            var datafields = [];
            $('.tblDataFields tr td:nth-child(1)').each(function () {
                datafields.push($(this).html());
            });
            $.ajax({
                url: '@Url.Action("SortDataFields", "FileTemplate", null, Request.Url.Scheme)',
                type: 'POST',
                dataType: 'html',
                data: {
                    id: fileTemplateId,
                    DFs: datafields.toString()
                },
                success: function (data) {
                    $('#pnlDataFieldList').html(data);
                    uiscript.sortTable('tblDataFields');
                    $('.datafieldcard').show();
                    uiscript.displayMessage('datafieldsMsg', 'The current order of data fields has been saved successfully.', false);
                },
                error: function (xhr, status, errorThrown) {
                    if (xhr.status == 409) {
                        uiscript.displayMessage('datafieldsMsg', 'Data field already exists in this table', true);
                    }
                    else if (xhr.status == 400)
                        uiscript.displayMessage('datafieldsMsg', 'Select a data field...', true);
                    else if (xhr.status == 500)
                        uiscript.displayMessage('datafieldsMsg', 'Refresh and try again...', true);
                    else {
                        uiscript.displayMessage('datafieldsMsg', xhr.status + ' - ' + xhr.responseText, true);
                    }
                }
            });
        });
    });

    $(function () {
        $('.btnSaveDTAOrder').click(function () {
            var dtactions = [];
            $('.tblDTActions tr td:nth-child(1)').each(function () {
                dtactions.push($(this).html());
            });
            $.ajax({
                url: '@Url.Action("SortDTActions", "FileTemplate", null, Request.Url.Scheme)',
                type: 'POST',
                dataType: 'html',
                data: {
                    id: fileTemplateId,
                    DTAs: dtactions.toString()
                },
                success: function (data) {
                    $('#pnlDTActionsList').html(data);
                    uiscript.sortTable('tblDTActions');
                    $('.dtactioncard').show();
                    uiscript.displayMessage('dtActionMsg', 'The current order of dt actions has been saved successfully.', false);
                },
                error: function (xhr, status, errorThrown) {
                    if (xhr.status == 409) {
                        uiscript.displayMessage('dtActionMsg', 'DT action already exists in this table', true);
                    }
                    else if (xhr.status == 400)
                        uiscript.displayMessage('dtActionMsg', 'Select a dt action...', true);
                    else if (xhr.status == 500)
                        uiscript.displayMessage('dtActionMsg', 'Refresh and try again...', true);
                    else {
                        uiscript.displayMessage('dtActionMsg', xhr.status + ' - ' + xhr.responseText, true);
                    }
                }
            });
        });
    });

    $(function () {
        $('#FileTemplate_DTStoredProcedureId').change(function () {
            if (ckboxTransformData.is(':checked') && ($('#FileTemplate_DTStoredProcedureId').val() == null || $('#FileTemplate_DTStoredProcedureId').val() == "")) {
                $('.dtspTblValidation').show();
            }
            else $('.dtspTblValidation').hide();
        });
    });

    $(function () {
        $('#FileTemplate_DataEntryFormId').change(function () {
            if (ckboxDataEntry.is(':checked') && ($('#FileTemplate_DataEntryFormId').val() == null || $('#FileTemplate_DataEntryFormId').val() == "")) {
                $('.defTblValidation').show();
            }
            else $('.defTblValidation').hide();
        });
    });

    $(function () {
        $('#FileTemplate_OutputFileDelimiterId').change(function () {
            if ($('#FileTemplate_OutputFileDelimiterId').val() == null || $('#FileTemplate_OutputFileDelimiterId').val() == "") {

                uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', true);
            }
            else {
                uiscript.executeValidation('FileTemplate_OutputFileDelimiterId', 'outputFileDelimiterValidation', false);
            }
        });
    });

    $(function () {
        $('#FileTemplate_DTFileWriter').change(function () {
            if ($('#FileTemplate_DTFileWriter').val() == null || $('#FileTemplate_DTFileWriter').val() == "") {
                uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', true);
            }
            else {
                uiscript.executeValidation('FileTemplate_DTFileWriter', 'fileWriterValidation', false);
            }
        });
    });

    $(function () {
        $('#FileTemplate_RepositoryFilePath').change(function () {
            if ($(this).is(':checked')) {

                uiscript.executeValidation('FileTemplate_RepositoryFilePath', 'repositoryFilePathValidation', true);
            }
            else {

                uiscript.executeValidation('FileTemplate_RepositoryFilePath', 'repositoryFilePathValidation', false);
            }
        });
    });

    $(function () {
        $('#FileTemplate_OutputFileEncoding').change(function () {
            if ($(this).is(':checked')) {

                uiscript.executeValidation('FileTemplate_OutputFileEncoding', 'fileEncodingValidation', true);
            }
            else {

                uiscript.executeValidation('FileTemplate_OutputFileEncoding', 'fileEncodingValidation', false);
            }
        });
    });

    $(function () {
        ckboxBulkUpload.change(function () {
            if ($(this).is(':checked')) {
                $('.bustagingTbl').show();
                uiscript.executeValidation('FileTemplate_BUStagingTable', 'bustagingTblValidation', true);
            }
            else {
                $('.bustagingTbl').hide();
                uiscript.executeValidation('FileTemplate_BUStagingTable', 'bustagingTblValidation', false);
                $('#FileTemplate_BUStagingTable').val('');
            }
        });
    });

    $(function () {
        ckboxBUReport.change(function () {
            if ($(this).is(':checked')) {
                $('.buct').show();
                uiscript.executeValidation('FileTemplate_BUReportCmdTextId', 'buctValidation', true);
                $('.buclids').show();
                uiscript.executeValidation('FileTemplate_BUReportClientIds', 'buclidsValidation', true);
            }
            else {
                $('.buct').hide();
                uiscript.executeValidation('FileTemplate_BUReportCmdTextId', 'buctValidation', false);
                $('#FileTemplate_BUReportCmdTextId').val('');
                $('.buclids').hide();
                uiscript.executeValidation('FileTemplate_BUReportClientIds', 'buclidsValidation', false);
                $('#FileTemplate_BUReportClientIds').val('');
            }
        });
    });

    $(function () {
        $('#FileTemplate_BUStagingTable').on('change keyup copy paste cut', function () {
            if ($('#FileTemplate_BUStagingTable').val() != null || $('#FileTemplate_BUStagingTable').val() != '') {
                $('.bustagingTblValidation').hide();
            }
            if (!$(this).val())
                $('.bustagingTblValidation').show();
        });
    });

    $(function () {
        $('#FileTemplate_BUReportCmdTextId').on('change keyup copy paste cut', function () {
            if ($('#FileTemplate_BUReportCmdTextId').val() != null || $('#FileTemplate_BUReportCmdTextId').val() != '') {
                $('.buctValidation').hide();
            }
            if (!$(this).val())
                $('.buctValidation').show();
        });
    });

    $(function () {
        $('#FileTemplate_BUReportClientIds').on('change keyup copy paste cut', function () {
            if ($('#FileTemplate_BUReportClientIds').val() != null || $('#FileTemplate_BUReportClientIds').val() != '') {
                $('.buclidsValidation').hide();
            }
            if (!$(this).val())
                $('.buclidsValidation').show();
        });
    });

    $(function () {
        $('#FileTemplate_DEStagingTable').on('change keyup copy paste cut', function () {
            if ($('#FileTemplate_DEStagingTable').val() != null || $('#FileTemplate_DEStagingTable').val() != '') {
                $('.destagingTblValidation').hide();
            }
            if (!$(this).val())
                $('.destagingTblValidation').show();
        });
    });

    $(function () {
        ckboxDataEntry.change(function () {
            if ($(this).is(':checked')) {
                $('.defTbl').show();
                uiscript.executeValidation('FileTemplate_DataEntryFormId', 'defTblValidation', true);
                cardGenerateFile.hide();
                cardGenerateAuditFile.hide();
                cardUploadToFileRepository.hide();
                ckboxBulkUpload.prop('checked', false);
                ckboxBUReport.prop('checked', false);
                $('#FileTemplate_BUReportCmdTextId').val('');
                $('#FileTemplate_BUReportClientIds').val('');
                ckboxTransformData.prop('checked', false);
                ckboxGenerateFO.prop('checked', false);
                ckboxUploadToRepository.prop('checked', false);
                ckboxGenerateAF.prop('checked', false);
                clearFieldsGenerateFO();
                clearFieldsGenerateAF();
                clearFieldsUploadToFileRepo();
                $('.bustagingTbl').hide();
                $('.dtspTbl').hide()
                $('#FileTemplate_BUStagingTable').val('');
                $('#FileTemplate_DTStoredProcedureId').val('');
                uiscript.executeValidation('FileTemplate_BUStagingTable', 'bustagingTblValidation', false);
                uiscript.executeValidation('FileTemplate_DTStoredProcedureId', 'dtspTblValidation', false);
                $('.destagingTbl').show();
                uiscript.executeValidation('FileTemplate_DEStagingTable', 'destagingTblValidation', true);
                $('#processesDiv').hide().focus();
                //ckboxDataEntry.focus();
            }
            else {
                $('.defTbl').hide();
                uiscript.executeValidation('FileTemplate_DataEntryFormId', 'defTblValidation', false);
                $('#FileTemplate_DataEntryFormId').val('');
                $('.destagingTbl').hide();
                uiscript.executeValidation('FileTemplate_DEStagingTable', 'destagingTblValidation', false);
                $('#FileTemplate_DEStagingTable').val('');

                $('#processesDiv').show().focus();
                //ckboxDataEntry.focus();
            }
        });
    });


    $(function () {
        ckboxTransformData.change(function () {
            if ($(this).is(':checked')) {
                $('.dtspTbl').show();
                uiscript.executeValidation('FileTemplate_DTStoredProcedureId', 'dtspTblValidation', true);
            }
            else {
                $('.dtspTbl').hide();
                uiscript.executeValidation('FileTemplate_DTStoredProcedureId', 'dtspTblValidation', false);
                $('#FileTemplate_DTStoredProcedureId').val('');
            }
        });
    });

    $(function () {
        $('#FileTemplate_AuditFileExtenstion').change(function () {
            if ($('#FileTemplate_AuditFileExtenstion').val() == null || $('#FileTemplate_AuditFileExtenstion').val() == "") {

                uiscript.executeValidation('FileTemplate_AuditFileExtenstion', 'auditFileExtenstionrValidation', true);
            }
            else {
                uiscript.executeValidation('FileTemplate_AuditFileExtenstion', 'auditFileExtenstionrValidation', false);
            }
        });
    });

    $(function () {
        $('#FileTemplate_ARTemplateScript').change(function () {
            if ($('#FileTemplate_ARTemplateScript').val() == null || $('#FileTemplate_ARTemplateScript').val() == "") {

                uiscript.executeValidation('FileTemplate_ARTemplateScript', 'aRTemplateScriptValidation', true);
            }
            else {
                uiscript.executeValidation('FileTemplate_ARTemplateScript', 'aRTemplateScriptValidation', false);
            }
        });
    });


    $('.btnAddTemplateField').click(function () {

        var dataFieldId = $('#DataField_Name').val();
        var fulldataFieldName = $('#DataField_Name :selected').text().split('-');
        var dataFieldName = fulldataFieldName[0].toString();

        if (dataFieldId == null || dataFieldId == '')
            uiscript.displayMessage('datafieldsMsg', 'Select a data field...', true);

        $.ajax({
            url: '@Url.Action("AddDataField", "FileTemplate", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                {
                    FileTemplateId: fileTemplateId,
                    DataFieldId: dataFieldId
                },
            success: function (data) {
                $('#pnlDataFieldList').html(data);
                uiscript.sortTable('tblDataFields');
                uiscript.displayMessage('datafieldsMsg', dataFieldName + ' has been added successfully', false);
            },
            error: function (xhr, status, errorThrown) {
                if (xhr.status == 409) {
                    uiscript.displayMessage('datafieldsMsg', dataFieldName + ' already exists in this table', true);
                }
                else if (xhr.status == 400)
                    uiscript.displayMessage('datafieldsMsg', 'Select a data field...', true);
                else {
                    uiscript.displayMessage('datafieldsMsg', xhr.status + ' - ' + xhr.responseText, true);
                }
            }
        });
        return false;
    });

    $('.btnRefreshDTActionsDDL').click(function () {
        GetReferenceData(1, 'DTActionName');
        return false;
    });

    $('.btnRefreshARActionsDDL').click(function () {
        GetReferenceData(3, 'ARAction_Name');
        return false;
    });

    $('.btnRefreshDataFieldsDDL').click(function () {
        GetReferenceData(2, 'DataField_Name');
        return false;
    });

    $('.btnAddDTAction').click(function () {

        var dtActionId = $('#DTActionName').val();
        var dtActionName = $('#DTActionName :selected').text();

        if (dtActionId == null || dtActionId == '')
            uiscript.displayMessage('dtActionMsg', 'Select a DT Action...', true);

        $.ajax({
            url: '@Url.Action("AddDTAction", "FileTemplate", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                {
                    FileTemplateId: fileTemplateId,
                    DTActionId: dtActionId
                },
            success: function (data) {
                $('#pnlDTActionsList').html(data);
                uiscript.sortTable('tblDTActions');
                uiscript.displayMessage('dtActionMsg', dtActionName + ' has been added successfully', false);
            },
            error: function (xhr, status, errorThrown) {
                if (xhr.status == 409) {
                    uiscript.displayMessage('dtActionMsg', dtActionName + ' already exists in this table', true);
                }
                else if (xhr.status == 400)
                    uiscript.displayMessage('dtActionMsg', 'Select a DT Action...', true);
                else {
                    uiscript.displayMessage('dtActionMsg', xhr.status + ' - ' + xhr.responseText, true);
                }
            }
        });
        return false;
    });

    $('.btnAddARAction').click(function () {

        var arActionId = $('#ARAction_Name').val();
        var arActionName = $('#ARAction_Name :selected').text();

        if (arActionId == null || arActionId == '')
            uiscript.displayMessage('arActionMsg', 'Select a AR Action...', true);

        $.ajax({
            url: '@Url.Action("AddARAction", "FileTemplate", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                {
                    FileTemplateId: fileTemplateId,
                    ARActionId: arActionId
                },
            success: function (data) {
                $('#pnlARActionList').html(data);

                uiscript.displayMessage('arActionMsg', arActionName + ' has been added successfully', false);
            },
            error: function (xhr, status, errorThrown) {
                if (xhr.status == 409) {
                    uiscript.displayMessage('arActionMsg', arActionName + ' already exists in this table', true);
                }
                else if (xhr.status == 400)
                    uiscript.displayMessage('arActionMsg', 'Select an AR Action...', true);
                else {
                    uiscript.displayMessage('arActionMsg', xhr.status + ' - ' + xhr.responseText, true);
                }
            }
        });
        return false;
    });

    function GetReferenceData(referenceData, ddlId) {
        var ddl = '#' + ddlId
        $(ddl).empty();
        $(ddl).append($("<option> </option > ").val(null).html('Loading...'));

        $.ajax({
            //base address/controller/Action
            url: '@Url.Action("GetReferenceData", "FileTemplate", null, Request.Url.Scheme)',
            type: 'GET',
            dataType: 'json',
            data: {
                //Passing Input parameter
                referenceData: referenceData
            },
            success: function (data) {
                $(ddl).empty();
                $(ddl).append($("<option> </option > ").val(null).html('Select an item...'));

                $.each(data, function () {
                    $(ddl).append($("<option> </option > ").val(this['Id']).html(this['Name']));
                });
            },
            error: function (xhr, status, errorThrown) {
                //Here the status code can be retrieved like;
                alert(xhr.status + ' - ' +
                    //The message added to Response object in Controller can be retrieved as following.
                    xhr.responseText);
            }
        });
    }

    function DeleteAction(actionName, id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }


        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');


        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DeleteDataField", "FileTemplate", null, Request.Url.Scheme)',
            'pnlDataFieldList', 'datafieldsMsg', 'datafieldcard', 'tblDataFields', actionName + ' has been deleted..');

        return false;
    }

    function DeleteDTAction(dtactionName, id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DeleteDTAction", "FileTemplate", null, Request.Url.Scheme)',
            'pnlDTActionsList', 'dtActionMsg', 'dtactioncard', 'tblDTActions', dtactionName + ' has been deleted.');

        return false;
    }

    function DeleteARAction(arAction, id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DeleteARAction", "FileTemplate", null, Request.Url.Scheme)',
            'pnlARActionList', 'arActionMsg', 'aractioncard', null, arAction + ' has been deleted.');

        return false;
    }

    </script>
