﻿@model Mgl.DataValidator.ViewModel.FileTemplateViewModel

@{
    ViewBag.Title = "Reinstate File Template";
    
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn badge-info" })
</p>
<div class="table-responsive">
    <table class="table  table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileTemplate.Name)
            </th>

            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.FileTemplates)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Reinstate", "Reinstate", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })

                </td>
            </tr>
        }

    </table>
</div>