﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.FTSearchPrms<FileTemplate>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "File Templates";
}
<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Index", "FileTemplate", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.ClientId, Model.Clients, "Select a client...", new { @class = "form-control form-control-sm" })
                        <input type="submit" value="Search" class="btn badge-info" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).RoleId > ((int)EnumRole.ReadOnly))
    {

        <div style="float:left; margin-top:20px">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
            @if (((User)HttpContext.Current.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
            {
                @Html.ActionLink("Reinstate", "GetDeletedTemplates", null, new { @class = "btn badge-info" })
            }
        </div>
    }
    <div style="float:right">
        @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, }))
    </div>
    <div id="templatesTable">
        @Html.Partial("_Index", Model)
    </div>
    <div style="margin-top:20px">
        Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

        @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, clientId = Model.ClientId }))

    </div>

    <script>

        $(function () {
            $("#PageSize").change(function () {
                $("#form1").submit();
            });
        });

    function DeleteTemplate(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the template?</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("Delete", "FileTemplate", null, Request.Url.Scheme)',
            'templatesTable', 'actionMsg', null, null, 'The file template has been deleted.');

        return false;
    }
    </script>
