﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.ARSearchPrms<ARAction>
@using PagedList.Mvc;
@using PagedList;

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                Name
            </th>
            <th>
                AR Action Type
            </th>
            <th>
                Referenced By
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (ARAction arAction in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => arAction.Name)
                </td>
                <td>
                    @arAction.ARActionType.GetDisplayName()
                </td>
                <td>
                    @Html.Raw(arAction.AssociatedFileTemplates)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = arAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Details", "Details", new { id = arAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Clone", "Clone", new { id = arAction.Id }, new { @class = "badge badge-pill badge-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = arAction.Id }, new { @onclick = "return DeleteARAction(" + arAction.Id + ");", @class = "badge badge-pill badge-info" })
                </td>
            </tr>
        }

    </table>
</div>
