﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetClientScheme.FullFileName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetClientScheme.FullFileName ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetClientScheme.FullFileName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.CheckBoxFor(model => model.ARAction.ARPrmsGetClientScheme.FullFileName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
