﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.ExclusionReasonTagName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetDataFromIgnoredFile.ExclusionReasonTagName)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.FileNamePrefixs, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetDataFromIgnoredFile.FileNamePrefixs)
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.ExclusionReasonTagName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.ExclusionReasonTagName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.FileNamePrefixs, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetDataFromIgnoredFile.FileNamePrefixs, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>      
            </div>
        </div>
    </div>
}




