﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel

@if (Model.IsDetails)
{
   <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.ColumnNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsDisplayMnCrBalance != null ? Model.ARAction.ARPrmsDisplayMnCrBalance.ColumnNames : "N/A")
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.OutputColumnNames, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsDisplayMnCrBalance != null ? Model.ARAction.ARPrmsDisplayMnCrBalance.OutputColumnNames : "N/A")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.ColumnNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.ColumnNames, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.ColumnNames, "*", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.OutputColumnNames, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.OutputColumnNames, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsDisplayMnCrBalance.OutputColumnNames, "*", new { @class = "text-danger" })
                    </div>
                </div>      
            </div>
        </div>
    </div>
}




