﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel
@using Mgl.DataValidator.Models


@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetOutputFileTotalBalance.InputColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetOutputFileTotalBalance != null ? Model.ARAction.ARPrmsGetOutputFileTotalBalance.InputColumnName : "N/A")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetOutputFileTotalBalance.InputColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetOutputFileTotalBalance.InputColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsGetOutputFileTotalBalance.InputColumnName, "*", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="col-md-auto alert-light">
                        Note: Input Column Name supports wildcard(*). It can be used in calculating total for auto generated multi-columns from parsing xml file.
                    </div>
                </div>
            </div>
        </div>
    </div>
}