﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.ColumnName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetTotalBalanceOfNewCases != null ? Model.ARAction.ARPrmsGetTotalBalanceOfNewCases.ColumnName : "N/A")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.OutputFormat, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Raw(Model.ARAction.ARPrmsGetTotalBalanceOfNewCases != null ? Model.ARAction.ARPrmsGetTotalBalanceOfNewCases.OutputFormat : "N/A")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.ColumnName, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.ColumnName, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.ColumnName, "*", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.OutputFormat, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.OutputFormat, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsGetTotalBalanceOfNewCases.OutputFormat, "*", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
        </div>
    </div>
}
