﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel
@using Mgl.DataValidator.Models

@if (Model.IsDetails)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARPrmsGetDateTime.DateFormat, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.ARPrmsGetDateTime != null ? Model.ARAction.ARPrmsGetDateTime.DateFormat : "N/A")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARPrmsGetDateTime.DateFormat, new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.ARPrmsGetDateTime.DateFormat, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
                        @Html.ValidationMessageFor(model => model.ARAction.ARPrmsGetDateTime.DateFormat, "*", new { @class = "text-danger" })
                    </div>
                </div>               
            </div>
        </div>
    </div>
}
