﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel

@{
    ViewBag.Title = "AR Action Details";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.ARActionTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Model.ARAction.ARActionType.GetDisplayName()
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                @if (!string.IsNullOrEmpty(Model.ARAction.Description))
                {
                    <div class="col-md-8" style="word-wrap: break-word;">
                        @Html.DisplayTextFor(model => model.ARAction.Description)
                    </div>
                }
                else
                {
                    <div class="col-md-auto">
                        @Html.Label("N/A")
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.TagName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.TagName)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.ARAction.DataSourceId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.ARAction.DataSource.GetDisplayName())
                </div>
            </div>
        </div>
    </div>


    @switch (Model.ARAction.ARActionTypeId)
    {
        case 1:
            Html.RenderPartial("_ARPrmsDisplayMnCrBalance", Model);
            break;
        case 4:
            Html.RenderPartial("_ARPrmsGetDateTime", Model);
            break;
        case 7:
            Html.RenderPartial("_ARPrmsGetOutputFileTotalBalance", Model);
            break;
        case 11:
            Html.RenderPartial("_ARPrmsGetTotalBalanceOfNewCases", Model);
            break;
        case 12:
            Html.RenderPartial("_ARPrmsGetDataFromGeneratedFile", Model);
            break;
        default:
            break;

    }


</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ARAction.Id }, new { @class = "btn badge-info" })
    @Html.ActionLink("Back", null, null, new { @class = "btn badge-info", @href = Request.UrlReferrer == null ? new Uri(Request.Url.Authority + "/ARAction") : Request.UrlReferrer })
</p>

