﻿@model Mgl.DataValidator.ViewModel.ARActionViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Edit AR Action";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ARAction.Id)
        @Html.Hidden("UrlRef", ((Request.UrlReferrer != null) ? Request.UrlReferrer : new Uri(Request.Url.Authority + "/ARAction")))

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.ARAction.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.TextAreaFor(model => model.ARAction.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 3 })
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.DataSourceId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.ARAction.DataSourceId, EnumHelper.GetSelectList(typeof(EnumARSourceFile)), "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.ARAction.DataSourceId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.TagName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.ARAction.TagName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.ARAction.TagName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARAction.ARActionTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.ARAction.ARActionTypeId, EnumHelper.GetSelectList(typeof(EnumARActionType)), "-Select-", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-md-center">
                    @Html.ValidationMessageFor(model => model.ARAction.ARActionTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="ARActionParam">
        </div>

        <hr />

        <div class="form-inline">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn badge-info" />
                @Html.ActionLink("Clone", "Clone", new { id = Model.ARAction.Id }, new { @class = "btn badge-info" })
                @Html.ActionLink("Back", null, null, null, new { @class = "btn badge-info", @href = ((Request.UrlReferrer == null) ? new Uri(Request.Url.Authority + "/ARAction/") : Request.UrlReferrer) })
            </div>
        </div>
    </div>
}

<script>

    function GetARActionType() {
        $('.ARActionParam').html('');
            var arActionTypeId = $('#ARAction_ARActionTypeId').val();
            var arActionId = $('#ARAction_Id').val();
        if (arActionTypeId != null && arActionTypeId != '') {

            $.ajax({
                url: '@Url.Action("GetARActionParam", "ARAction", null, Request.Url.Scheme)',
                type: 'POST',
                dataType: 'html',
                data: {
                    arActionTypeId: arActionTypeId,
                    arActionId: arActionId
                },
                success: function (data) {
                    $('.ARActionParam').html(data);
                },
                error: function (xhr, status, errorThrown) {

                }
            });
        }
    }

    $('#ARAction_ARActionTypeId').change(function () {
        GetARActionType();
    });


    $(document).ready(function () {
        GetARActionType();
    });

</script>