﻿@using Mgl.DataValidator.Models
@model Mgl.DataValidator.Models.ARSearchPrms<ARAction>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AR Actions";

}

<div class="alert alert-warning Msg" id="actionMsg" style="opacity:1; display:none;">
</div>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Index", "ARAction", FormMethod.Get, new { id = "form1" }))
{
    <div class="form-horizontal">
        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-inline">
                    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control form-control-sm", @name = "SearchString" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.ARActionTypeId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.ARActionTypeId, EnumHelper.GetSelectList(typeof(Mgl.DataValidator.Models.EnumARActionType)), "Select a AR Action Type...", new { @class = "form-control form-control-sm", @name = "ARActionTypeId" })
                        <input type="submit" value="Search" class="btn badge-info" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-inline">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.PageSize, Model.PageSizeList, new { @class = "form-control form-control-sm", @name = "PageSize" })
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<div style="float:left; margin-top:20px">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
</div>
<div style="float:right">
    @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, }))
</div>



<div id="ARActionTable">
    @Html.Partial("_ARActionList", Model)
</div>

<div style="margin-top:20px">
    Page @(Model.Results.PageCount < Model.Results.PageNumber ? 0 : Model.Results.PageNumber) of @Model.Results.PageCount

    @Html.PagedListPager(Model.Results, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sortOrder = Model.SortOrder, currentFilter = Model.SearchString, arActionTypeId = Model.ARActionTypeId }))

</div>


<script type="text/javascript">
    $(function () {
        $("#PageSize").change(function () {
            $("#form1").submit();
        });
    });

</script>

<script>
    function DeleteARAction(id) {

        if (id == null || id == '') {
            return uiscript.displayMsg('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete this AR Action?</div>').appendTo('body');
        event.preventDefault();

        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("Delete", "ARAction", null, Request.Url.Scheme)',
            'ARActionTable', 'actionMsg', null, null, 'ARAction has been deleted.');

        return false;
    }

</script>
