﻿@model Mgl.DataValidator.ViewModel.UserViewModel

<div class="card">
    <div class="card-header card-title">
        <h4>Associated Clients</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('addClient');">Add New</a>
                </div>
            </div>
        </div>

        <div class="card-text" id="pnlClientList">
            @Html.Partial("_ClientsList", Model.User.UserClients)
        </div>

        <div class="card bg-light addClient" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning errMsg" id="actionMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Client Name", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.DropDownList("ClientId", Model.AllClients, "Select a client...", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Is Default", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    <div class="checkbox">
                                        @Html.CheckBox("IsDefault", false, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info" onclick="return AddClient();">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script language="javascript" type="text/javascript">
    var userId = $('#User_Id').val();


    function AddClient() {

        var clientId = $('#ClientId').val();
        var isDefault = $("#IsDefault").prop("checked") ? true : false;
        if (clientId == null || clientId == '') {
            return uiscript.displayMessage('actionMsg', 'Client Name is required.', true);
        }

        $.ajax({
            //base address/controller/Action
            url: '@Url.Action("UpdateClient", "User", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                //Passing Input parameter
                {
                    UserId: userId,
                    ClientId: clientId,
                    IsDefault: isDefault
                },
            success: function (data) {
                $('#pnlClientList').html(data);
                uiscript.displayMessage('actionMsg', 'Client updated successfully.', false);
            },
            error: function (xhr, status, errorThrown) {
                DisplayErrMsg('actionMsg', xhr.status + ' - ' +
                    xhr.responseText);
            }
        });


        return false;
    }

    function DeleteClient(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DeleteClient", "User", null, Request.Url.Scheme)',
            'pnlClientList', 'actionMsg', 'dcactions', 'tblDCActions', 'Client deleted successfully.');

        return false;
    }

</script>



