﻿@model IEnumerable<Mgl.DataValidator.Models.UserClient>

<div class="table-responsive">

    <table class="table table-sm table-striped table-hover table-condensed table-bordered tblDCActions">
        <tr>
            <th style="display: none;"></th>
            <th>
                Client Name
            </th>
            <th>
                Default
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none;">
                    @item.Id
                </td>
                <td>
                    @item.Client.Name
                </td>
                <td>
                    @(item.IsDefault ? "Yes" : "No")
                </td>
                <td>
                    @Html.ActionLink("Delete", null, new { id = item.Id },
                 new { onclick = "return DeleteClient(" + item.Id + ")", @class="badge badge-pill badge-info" })

                </td>
            </tr>
        }

    </table>
</div>


