﻿@model Mgl.DataValidator.ViewModel.UserViewModel

@{
    ViewBag.Title = "Create";
    
}

<h2>User</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.UserId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.User.UserId, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    @Html.ValidationMessageFor(model => model.User.UserId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.UserName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.DomainName, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.User.DomainName, Model.GetDomains, "--Select Domain--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    @Html.ValidationMessageFor(model => model.User.DomainName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.ClientId, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        @Html.DropDownListFor(model => model.User.ClientId, Model.GetClients, "--Select Client--", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    @Html.ValidationMessageFor(model => model.User.ClientId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.IsAdmin, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.User.IsAdmin, Model.User.IsAdmin)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    @Html.LabelFor(model => model.User.Disabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                    <div class="col-md-auto">
                        <div class="checkbox">
                            @Html.CheckBox("Enabled", !Model.User.Disabled)                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Create" class="btn badge-info" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
            </div>
        </div>
    </div>
}

