﻿@model Mgl.DataValidator.ViewModel.UserViewModel
@using Mgl.DataValidator.Models

@{
    ViewBag.Title = "Users";
    
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-condensed ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                Domain
            </th>
            <th>
                Role
            </th>
            <th>
                Clients
            </th>
            <th>
                Disabled
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var user in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.DomainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Role.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.ClientNames)
            </td>
            <td>
                @Html.YesNo(user.Disabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = user.Id }, new { @class = "badge badge-pill badge-info" }) |
                @Html.ActionLink("Details", "Details", new { id = user.Id }, new { @class = "badge badge-pill badge-info" })
            </td>
        </tr>
        }

    </table>
</div>