﻿@model IEnumerable<Mgl.DataValidator.Models.ReferenceList>
@using Mgl.DataValidator.Models

<div class="table-responsive rlTable">
    <table class="table table-sm table-striped table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseSensitive)
            </th>
            <th>
                Referenced By
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @(item.CaseSensitive ? "Yes" : "No")
            </td>
            <td>
                @Html.Raw(item.ReferencedBy)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "badge badge-pill badge-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-info" })
                @if (string.IsNullOrEmpty(item.ReferencedBy))
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @onclick = "DeleteReferenceList(" + item.Id + ")", @class = "badge badge-pill badge-info" })
                }
            </td>
        </tr>
        }

    </table>
</div>
