﻿@model IEnumerable<Mgl.DataValidator.Models.ReferenceListItem>


<div class="card">
    <div class="card-header card-title">
        <h4>List Items</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="form-inline">
                    <a href="#" class="card-link btn badge-info" onclick="return uiscript.toggle('listitems');">Add New</a>
                </div>
            </div>            
        </div>

        <div class="card-text" id="pnlItemList">
            @Html.Partial("_ListItems", Model)
        </div>

        <div class="card bg-light listitems" style="display: none;">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning errMsg" id="actionMsg" style="opacity:1; display:none;">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Item Value", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("ItemValue", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                @Html.Label("Description", htmlAttributes: new { @class = "badge badge-info col-md-3" })
                                <div class="col-md-auto">
                                    @Html.Editor("ItemDescription", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <a href="#" class="btn badge-info" onclick="return AddItem();">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script language="javascript" type="text/javascript">
    
    function AddItem() {

        var rlId = $('#Id').val();
        var itemValue = $('#ItemValue').val();
        var itemDescription = $('#ItemDescription').val();

        function ClearLIFileds() {
            $('#ItemValue').val('');
            $('#ItemDescription').val('');
        }

        if (rlId == null || rlId == '') {
            return uiscript.displayMessage('actionMsg', 'Item id is required.', true);
        }

        if ((itemValue == null || itemValue == '')) {
            return uiscript.displayMessage('actionMsg', 'Item value is required.', true);
        }

        $.ajax({
            //base address/controller/Action
            url: '@Url.Action("AddListItem", "ReferenceList", null, Request.Url.Scheme)',
            type: 'POST',
            dataType: 'html',
            data:
                //Passing Input parameter
                {
                    RLId: rlId,
                    ItemValue: itemValue,
                    ItemDescription: itemDescription
                },
            success: function (data) {
                $('#pnlItemList').html(data);
                ClearLIFileds();
                uiscript.displayMessage('actionMsg', 'Item added to list.', false);
            },
            error: function (xhr, status, errorThrown) {
                uiscript.displayMessage('actionMsg', xhr.status + ' - ' +
                    xhr.responseText, true);
            }
        });


        return false;
    }

    function DeleteListItem(id) {


        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }


        $('<div id="dialog">Are you sure to delete the item</div>').appendTo('body');
        event.preventDefault();

        /* uiscript.dialogbox (id, dialogId, urlAction, panelId, divMessageId, cardClass, sortTableClass, actionMessage) */
        uiscript.dialogbox(id, 'dialog',
            '@Url.Action("DeleteListItem", "ReferenceList", null, Request.Url.Scheme)',
            'pnlItemList', 'actionMsg', 'listitems', null, 'Item has been deleted.');

        return false;
    }
</script>



