﻿@model IEnumerable<Mgl.DataValidator.Models.ReferenceListItem>

<div class="table-responsive">

    <table class="table table-sm table-striped table-hover table-condensed table-bordered tblDCActions">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Delete", null, new { id = item.Id },
                 new { onclick = "return DeleteListItem(" + item.Id + ")", @class="badge badge-pill badge-info" })

                </td>
            </tr>
        }

    </table>
</div>


