﻿@model Mgl.DataValidator.Models.ReferenceList

@{
    ViewBag.Title = "Add Reference List";
    
}

<h2>@ViewBag.Title</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-control-sm", @cols = 40, @rows = 4 })
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline " style="display: none;">
                @Html.LabelFor(model => model.CaseSensitive, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.CaseSensitive, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-inline">
        <div class="col-md-offset-2">
            <input type="submit" value="Create" class="btn badge-info" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
        </div>
    </div>
</div>
}
