﻿@model Mgl.DataValidator.Models.ReferenceList
@using Mgl.DataValidator.Models
@{
    ViewBag.Title = "Reference List Details";
    
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Name)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.DisplayTextFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.CaseSensitive, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.CaseSensitive == true ? "Yes" : "No")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Disabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-auto">
                    @Html.Label(Model.Disabled == true ? "Yes" : "No")
                </div>
            </div>
        </div>
    </div>


    <hr />

    <div class="table-responsive">

        <table class="table table-sm table-responsive-sm table-striped table-hover table-condensed table-bordered">
            <tr>

                <th>
                    Value
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in Model.ReferenceListItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>
    </div>


</div>


<hr />

<div class="form-inline">
    @if (((User)Context.Session[HttpContext.Current.Session.SessionID]).IsAdmin)
    {
        <div>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn badge-info" })</div>
    }
    <div>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })</div>
</div>
