﻿@model Mgl.DataValidator.Models.ReferenceList

@{
    ViewBag.Title = "Edit Reference List";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
            </div>
            <div class="col-md-12 text-md-center">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">

                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.CaseSensitive, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.CaseSensitive, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                @Html.LabelFor(model => model.Disabled, htmlAttributes: new { @class = "badge cust-badge-light col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Disabled, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
        </div>

    </div>


    <hr />
    <div class="row mb-1">
        <div class="col-md-12">

            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Save" class="btn badge-info" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn badge-info" })
                </div>
            </div>
        </div>
    </div>
    <br />

    @Html.Partial("_ListItemsUpdate", Model.ReferenceListItems)

</div>
}


