﻿@model IEnumerable<Mgl.DataValidator.Models.ReferenceList>

@{
    ViewBag.Title = "Reference Lists";
    
}

<h2>@ViewBag.Title</h2>
<hr/>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn badge-info" })
</p>

<div id="templatesTable">
    @Html.Partial("_Index", Model)
</div>


<script>
    function DeleteReferenceList(id) {

        if (id == null || id == '') {
            return uiscript.displayMessage('actionMsg', 'Missing Id for Delete', true);
        }

        $('<div id="dialog">Are you sure to delete the reference list?</div>').appendTo('body');
        event.preventDefault();

        $("#dialog").dialog({
            width: 600,
            modal: true,
            dialogClass: 'success-dialog',
            close: function (event, ui) {
                $("#dialog").remove();
            },
            buttons: {
                "Confirm": function () {
                    $("#dialog").remove();
                    //window.open('/ReferenceList/Delete/' + id, '_blank', true)
                    window.open('/ReferenceList/Delete/' + id, "_self");
                },
                "Cancel": function () {
                    $("#dialog").remove();
                }
            }
        });
        return false;
    }  

</script>